{% extends '../layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('@css/gallery.min.css') }}" />
{% endblock %}

{% block body %}
    <div class=" container new-page">
        <div class="pages">
            <div class="line"></div>
            <span class="text-page">
                404Moldova это сообщество для IT-бизнеса и IT-специалистов из Молдовы.
                Мы хотим дать возможность маленьким компаниям и квалифицированным специалистам стать конкурентоспособными на мировом рынке.
                Члены нашего сообщества гордятся тем что работают с Fortune 500 клиентами из Европы и США.
            </span>
        </div>
    </div>
    <div class="wrapper photos-gallery" itemscope itemprop="mainContentOfPage">
        <div class="main-block">
            <div class="container gallery-block">
                <div class="left-fb-block" style="overflow-x: auto; max-width: 100%;">
                    <div class="fb-post" data-width="500" data-href="https://www.facebook.com/404Moldova/posts/1853557308302390/"></div>
                </div>
                <div class="left-fb-block" style="overflow-x: auto; max-width: 100%;">
                    <div class="fb-post" data-width="500" data-href="https://www.facebook.com/404Moldova/posts/1811427859182002/"></div>
                </div>
                <div class="left-fb-block" style="overflow-x: auto; max-width: 100%;">
                    <div class="fb-post" data-width="500" data-href="https://www.facebook.com/404Moldova/posts/1811407852517336/"></div>
                </div>
                <div class="left-fb-block" style="overflow-x: auto; max-width: 100%;">
                    <div class="fb-post" data-width="500" data-href="https://www.facebook.com/404Moldova/posts/1811401509184637/"></div>
                </div>
                <div class="left-fb-block" style="overflow-x: auto; max-width: 100%;">
                    <div class="fb-post" data-width="500" data-href="https://www.facebook.com/404Moldova/posts/1809159429408845/"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('@js/gallery.min.js') }}"></script>
{% endblock %}
