.gallery.amenities-gallery .gallary-line {
  margin-top: 0; }

.text-page {
  font-size: 15px; }

.text-color {
  color: #dd5931; }

.wrapper.amenities .main-block .blocks {
  background: #f5f5f4; }
  .wrapper.amenities .main-block .blocks .container .display-flex {
    padding-top: 70px;
    padding-bottom: 50px;
    align-items: flex-end; }
    .wrapper.amenities .main-block .blocks .container .display-flex .flex-block {
      height: 300px;
      width: 300px;
      text-align: center;
      padding-bottom: 20px; }

.wrapper.contact .main-block {
  min-height: 700px; }
  .wrapper.contact .main-block .container {
    position: relative; }
    .wrapper.contact .main-block .container .map-style {
      height: 700px; }
    .wrapper.contact .main-block .container .input-field {
      position: absolute;
      top: 0;
      right: 15px;
      width: 40%;
      background: white;
      opacity: 0.93;
      height: 700px;
      display: flex;
      justify-content: center;
      align-items: center; }
      .wrapper.contact .main-block .container .input-field .hole-form {
        width: 65%; }
        .wrapper.contact .main-block .container .input-field .hole-form label {
          display: block;
          margin-bottom: 10px;
          font-size: 18px; }
        .wrapper.contact .main-block .container .input-field .hole-form .input-style {
          height: 40px;
          width: 100%;
          font-size: 20px;
          padding: 0 10px;
          border: 1px solid #454545;
          margin-bottom: 20px;
          color: #aaaaaa; }
        .wrapper.contact .main-block .container .input-field .hole-form .text-style {
          font-size: 20px;
          padding: 0 10px;
          border: 1px solid #454545;
          margin-bottom: 20px;
          width: 100%;
          color: #aaaaaa; }
        .wrapper.contact .main-block .container .input-field .hole-form .button {
          width: 100%; }
        .wrapper.contact .main-block .container .input-field .hole-form .heading-contact {
          text-transform: uppercase;
          font-size: 25px;
          font-weight: 600;
          padding-bottom: 20px; }

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

img {
  vertical-align: middle;
  border: 0; }

.display-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

body {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff; }

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.connect-us {
  color: black;
  font-size: 19px;
  font-weight: bold;
  padding-bottom: 5px; }

.clear {
  clear: both; }

.button {
  display: inline-block;
  background: #dd5931;
  font-size: 17px;
  padding: 10px 50px;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid;
  cursor: pointer;
  text-decoration: none; }
  .button:hover {
    border-color: black;
    color: black;
    background: transparent; }

.image {
  height: 160px; }
  .image .image-amentities {
    background-image: url(../images/amenitis.png);
    background-position: center;
    background-size: cover;
    height: 160px; }
  .image .image-contact {
    background-image: url(../images/contact.png);
    background-size: cover;
    background-position: 48% 16%;
    height: 160px; }
  .image .image-members {
    background-image: url(../images/members.png);
    background-position: 20% 80%;
    background-size: cover;
    height: 160px; }
  .image .image-plans {
    background-image: url(../images/plans.png);
    background-position: 52% 48%;
    background-size: cover;
    height: 160px; }

.text-anvio {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin-top: 40px;
  font-size: 25px;
  margin-bottom: 15px; }

.wrapper {
  min-height: 800px; }
  .wrapper.main .main-block {
    background-image: url(../images/bg.png);
    background-position: center;
    background-size: cover;
    position: relative; }
  .wrapper.main .main-block .main-nav .container .nav-top .icon a {
    color: white; }
  .wrapper .main-block {
    min-height: 860px; }
    .wrapper .main-block .main-nav {
      background: transparent; }
      .wrapper .main-block .main-nav .container .nav-top ul li .link {
        color: white; }
        .wrapper .main-block .main-nav .container .nav-top ul li .link:hover {
          border-bottom-color: white; }
    .wrapper .main-block .main-info {
      height: 670px; }
      .wrapper .main-block .main-info .local-com {
        color: white;
        width: 80%;
        margin: 0 auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%); }
        .wrapper .main-block .main-info .local-com h1, .wrapper .main-block .main-info .local-com h2 {
          font-family: 'Lato', sans-serif;
          font-size: 90px;
          letter-spacing: 1px;
          line-height: 60px;
          margin-bottom: 30px; }
        .wrapper .main-block .main-info .local-com .text-center {
          font-size: 19px;
          width: 95%; }
        .wrapper .main-block .main-info .local-com .more {
          margin-top: 40px;
          display: block; }
          .wrapper .main-block .main-info .local-com .more .more-about {
            display: inline-block;
            font-size: 20px;
            color: white;
            text-transform: uppercase;
            padding: 10px 50px;
            border: 3px solid #dd5931;
            text-decoration: none;
            background: #dd5931; }
            .wrapper .main-block .main-info .local-com .more .more-about .text-bold {
              font-size: 20px; }
            .wrapper .main-block .main-info .local-com .more .more-about:hover {
              border-color: #ffffff;
              background: transparent; }
  .wrapper .container .partners {
    line-height: 150px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }

/* Navigation */
.main-nav {
  min-height: 100px;
  background: #ffffff; }
  .main-nav .container .logo {
    line-height: 100px;
    float: left; }
    .main-nav .container .logo .img-logo {
      height: 75px; }
  .main-nav .container .nav-top {
    float: right; }
    .main-nav .container .nav-top .icon {
      display: none; }
      .main-nav .container .nav-top .icon a {
        color: black;
        font-size: 25px;
        text-decoration: none; }
    .main-nav .container .nav-top .active .link {
      border: 2px solid black; }
    .main-nav .container .nav-top ul {
      line-height: 100px;
      margin-bottom: 0; }
      .main-nav .container .nav-top ul li {
        display: inline-block;
        text-decoration: none; }
        .main-nav .container .nav-top ul li .link {
          color: black;
          text-transform: uppercase;
          margin: 0 8px;
          font-size: 20px;
          text-decoration: none;
          padding: 2px 8px;
          border: 2px solid transparent; }
          .main-nav .container .nav-top ul li .link.active {
            border-color: black; }
          .main-nav .container .nav-top ul li .link:hover {
            border-bottom-color: black; }
        .main-nav .container .nav-top ul li a {
          text-decoration: none; }
    .main-nav .container .nav-top .blog {
      background: #dd5931;
      font-size: 19px;
      padding: 0 10px;
      margin-left: 20px;
      line-height: normal;
      color: white;
      text-transform: uppercase; }

/* Main Footer*/
.contacts {
  background: #f5f5f4;
  color: #888; }
  .contacts .get-in-touch {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-between; }
    .contacts .get-in-touch .block-1 {
      width: 11%;
      line-height: 110px; }
      .contacts .get-in-touch .block-1 img {
        height: 100px; }
    .contacts .get-in-touch .block-2 {
      width: 54%;
      padding-right: 37px;
      padding-left: 30px; }
    .contacts .get-in-touch .block-3 {
      width: 15%; }
      .contacts .get-in-touch .block-3 .new-line {
        display: block; }
      .contacts .get-in-touch .block-3 a {
        color: #888;
        text-decoration: none; }
    .contacts .get-in-touch .block-4 {
      width: 20%; }
      .contacts .get-in-touch .block-4 a {
        color: #888;
        font-size: 20px; }
      .contacts .get-in-touch .block-4 .fa {
        padding: 3px;
        border: 2px solid transparent; }
        .contacts .get-in-touch .block-4 .fa:hover {
          border: 2px solid #dd5931;
          color: #dd5931; }
        .contacts .get-in-touch .block-4 .fa.fa-google-plus {
          font-size: 16px; }

.footer-black {
  background: #454545; }
  .footer-black .container .left-footer {
    float: left;
    color: grey;
    line-height: 50px;
    height: 50px; }
    .footer-black .container .left-footer a {
      text-decoration: none;
      margin-left: 20px;
      color: #f5f5f4; }
      .footer-black .container .left-footer a:hover {
        color: #dd5931; }
  .footer-black .container .right-footer {
    float: right;
    line-height: 50px;
    height: 50px; }
    .footer-black .container .right-footer ul {
      margin-bottom: 0; }
      .footer-black .container .right-footer ul li {
        display: inline; }
        .footer-black .container .right-footer ul li a {
          text-decoration: none;
          margin-left: 20px;
          color: #f5f5f4; }
          .footer-black .container .right-footer ul li a:hover {
            color: #dd5931; }

/* Title */
.new-page .pages {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  min-height: 165px; }
  .new-page .pages .text-page {
    font-size: 17px; }
  .new-page .pages .page-name {
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    position: relative;
    text-transform: uppercase; }

.new-heading {
  padding-top: 40px;
  padding-bottom: 10px; }
  .new-heading .pages .heading {
    font-family: 'Lato', sans-serif;
    font-size: 50px;
    color: #ccc; }

.line {
  width: 80px;
  height: 6px;
  background: #dd5931;
  margin-bottom: 20px; }

/* Footer Gallery*/
.gallery .gallary-line {
  height: 300px;
  margin-top: 60px;
  overflow: hidden; }
  .gallery .gallary-line .img1 {
    background-image: url(../images/img1.png);
    background-position: center;
    background-size: cover;
    height: 300px;
    width: 33%;
    float: left;
    cursor: pointer;
    transition: all .5s;
    position: relative; }
    .gallery .gallary-line .img1:hover {
      transform: scale(1.2); }
  .gallery .gallary-line .two-pic {
    width: 10%;
    float: left;
    overflow: hidden; }
    .gallery .gallary-line .two-pic .img2 {
      background-image: url(../images/img2.png);
      background-position: center;
      background-size: cover;
      height: 150px;
      width: 100%;
      float: left;
      cursor: pointer;
      transition: all .5s;
      position: relative;
      z-index: 2; }
      .gallery .gallary-line .two-pic .img2:hover {
        transform: scale(1.2); }
    .gallery .gallary-line .two-pic .img3 {
      background-image: url(../images/img3.png);
      background-position: center;
      background-size: cover;
      height: 151px;
      width: 100%;
      float: left;
      cursor: pointer;
      position: relative;
      z-index: 2;
      transition: all .5s; }
      .gallery .gallary-line .two-pic .img3:hover {
        transform: scale(1.2); }
  .gallery .gallary-line .img4 {
    background-image: url(../images/img4.png);
    background-position: center;
    background-size: cover;
    position: relative;
    height: 300px;
    width: 35%;
    float: left;
    cursor: pointer;
    display: flex; }
    .gallery .gallary-line .img4:before {
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: #dd5931;
      opacity: 0.8;
      position: absolute; }
    .gallery .gallary-line .img4 .we-love {
      position: relative;
      z-index: 1;
      margin: auto;
      font-size: 25px;
      color: white; }
      .gallery .gallary-line .img4 .we-love .avatar-comment {
        text-transform: uppercase; }
      .gallery .gallary-line .img4 .we-love span {
        font-size: 20px; }
  .gallery .gallary-line .img5 {
    background-image: url(../images/img5.png);
    background-position: center;
    background-size: cover;
    height: 301px;
    width: 12%;
    float: left;
    cursor: pointer;
    position: relative;
    z-index: 1;
    transition: all .5s; }
    .gallery .gallary-line .img5:hover {
      transform: scale(1.2); }

.text-name {
  text-transform: uppercase; }

.text-work {
  color: #aaaaaa;
  font-size: 15px; }

.wrapper.members .main-block .container .our-members.slick-slider {
  margin-right: -30px; }
.wrapper.members .main-block .container .our-members .slick-prev {
  top: -20px;
  left: auto;
  right: 72px; }
  .wrapper.members .main-block .container .our-members .slick-prev:before {
    content: '<';
    background: #dd5931;
    color: white;
    text-align: left;
    padding: 2px 10px 10px 10px; }
.wrapper.members .main-block .container .our-members .slick-next {
  top: -20px;
  right: 41px; }
  .wrapper.members .main-block .container .our-members .slick-next:before {
    content: '>';
    background: #dd5931;
    color: white;
    text-align: left;
    padding: 2px 10px 10px 10px; }
.wrapper.members .main-block .container .our-members .slick-list .member-info {
  margin-right: 30px; }
  .wrapper.members .main-block .container .our-members .slick-list .member-info .member-pic img {
    width: 100%; }
  .wrapper.members .main-block .container .our-members .slick-list .member-info .all-info {
    margin-top: 20px; }
    .wrapper.members .main-block .container .our-members .slick-list .member-info .all-info h2, .wrapper.members .main-block .container .our-members .slick-list .member-info .all-info h4 {
      line-height: 20px; }
    .wrapper.members .main-block .container .our-members .slick-list .member-info .all-info h4 {
      padding-bottom: 15px; }

.projects {
  background: #f5f5f4;
  min-height: 300px; }
  .projects .container .display-flex {
    min-height: 300px;
    padding-top: 40px;
    padding-bottom: 40px; }
    .projects .container .display-flex .project-block {
      width: 300px;
      text-align: center;
      margin: auto; }
      .projects .container .display-flex .project-block .text-anvio {
        margin-top: 20px;
        margin-bottom: 10px; }

.case-study {
  min-height: 500px; }
  .case-study .container {
    margin-top: 50px; }
    .case-study .container .left-block {
      float: left; }
    .case-study .container .right-block {
      float: right;
      width: 50%;
      height: 573px; }
      .case-study .container .right-block .right-info {
        width: 90%;
        float: right;
        top: 50%;
        transform: translateY(-50%);
        position: relative; }
        .case-study .container .right-block .right-info p {
          margin-top: 20px;
          font-size: 16px; }
        .case-study .container .right-block .right-info .right-header {
          font-family: 'Lato', sans-serif;
          font-size: 50px;
          position: relative;
          margin-bottom: 20px; }
          .case-study .container .right-block .right-info .right-header:before {
            content: '';
            position: absolute;
            width: 140px;
            height: 6px;
            background: #dd5931;
            bottom: 0; }

.pie {
  display: inline-block;
  position: relative;
  width: 1em;
  height: 1em;
  background-color: #cccccc;
  font-size: 12em;
  text-align: center;
  border-radius: 50%; }

.slice-right {
  position: absolute;
  z-index: 11;
  background-color: #44a5db;
  width: 100%;
  height: 100%;
  clip: rect(0, 0.5em, 0.5em, 0.5em);
  border-radius: 50%; }

.slice-left {
  position: absolute;
  z-index: 11;
  background-color: #44a5db;
  width: 100%;
  height: 100%;
  clip: rect(0, 0.5em, 0.5em, 0.5em);
  border-radius: 50%; }

.percent {
  position: absolute;
  z-index: 20;
  top: 7px;
  right: 7px;
  bottom: 7px;
  left: 7px;
  background: #f5f5f4;
  border-radius: 50%; }

.number {
  position: absolute;
  z-index: 30;
  width: 100%;
  height: 100%;
  padding-top: 50%;
  line-height: 0;
  font-size: 35px;
  font-weight: 700;
  color: #cccccc; }

.slice-right {
  -webkit-animation-delay: 1.2s;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-name: right-slice;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards; }

.slice-left {
  -webkit-animation-delay: 1.5s;
  -webkit-animation-duration: 0.3s;
  -webkit-animation-name: left-slice;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards; }

@-webkit-keyframes right-slice {
  from {
    clip: rect(0, 50%, 0.5em, 0.5em); }
  50% {
    clip: rect(0, 1em, 0.5em, 0.5em); }
  to {
    clip: rect(0, 1em, 1em, 0.5em); } }
@-webkit-keyframes left-slice {
  from {
    clip: rect(0.5em, 0.5em, 1em, 0.5em); }
  50% {
    clip: rect(0.5em, 0.5em, 1em, 0); }
  to {
    clip: rect(-0.3em, 0.5em, 1em, 0); } }
.wrapper.plans-and-prices .main-block .container .display-flex .plans {
  width: 353px; }
  .wrapper.plans-and-prices .main-block .container .display-flex .plans .img-plan {
    position: relative; }
    .wrapper.plans-and-prices .main-block .container .display-flex .plans .img-plan img {
      width: 100%;
      height: 384px; }
    .wrapper.plans-and-prices .main-block .container .display-flex .plans .img-plan .text-plan {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 25px;
      color: #ffffff; }
      .wrapper.plans-and-prices .main-block .container .display-flex .plans .img-plan .text-plan .text-p {
        font-size: 25px;
        text-transform: uppercase; }
  .wrapper.plans-and-prices .main-block .container .display-flex .plans .discription {
    background: #f5f5f4;
    padding: 25px; }
    .wrapper.plans-and-prices .main-block .container .display-flex .plans .discription p {
      font-size: 15px;
      line-height: 25px;
      padding-bottom: 30px; }
    .wrapper.plans-and-prices .main-block .container .display-flex .plans .discription .bold-text {
      font-weight: 600; }
    .wrapper.plans-and-prices .main-block .container .display-flex .plans .discription .button {
      margin-top: 40px;
      margin-bottom: 30px;
      float: right; }

@media (min-width: 768px) {
  .container {
    width: 750px; } }
@media (min-width: 992px) {
  .container {
    width: 970px; } }
@media (min-width: 1200px) {
  .container {
    width: 1170px; } }
@media (max-width: 1200px) {
  .wrapper .main-block .main-info .local-com h1, .wrapper .main-block .main-info .local-com h2 {
    font-size: 50px;
    line-height: 50px; }
  .wrapper .main-block .main-info .local-com .text-center {
    font-size: 15px; }
  .wrapper.plans-and-prices .main-block .container .display-flex .plans {
    margin-bottom: 10px;
    width: 100%; }
    .wrapper.plans-and-prices .main-block .container .display-flex .plans .img-plan {
      float: left; }
    .wrapper.plans-and-prices .main-block .container .display-flex .plans .discription {
      width: 100%;
      padding: 0; }
      .wrapper.plans-and-prices .main-block .container .display-flex .plans .discription .block-responsive {
        padding: 20px;
        float: left;
        width: 52%;
        height: 384px; }
        .wrapper.plans-and-prices .main-block .container .display-flex .plans .discription .block-responsive p {
          font-size: 15px;
          line-height: 22px;
          padding-bottom: 10px; }
        .wrapper.plans-and-prices .main-block .container .display-flex .plans .discription .block-responsive .button {
          margin-top: 17px;
          margin-bottom: 15px;
          float: left; }

  .g-recaptcha {
    transform: scale(0.83);
    -webkit-transform: scale(0.83);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0; }

  .gallery .gallary-line {
    height: 180px; }
    .gallery .gallary-line .img1 {
      height: 180px; }
    .gallery .gallary-line .two-pic .img2, .gallery .gallary-line .two-pic .img3 {
      height: 90px; }
    .gallery .gallary-line .img4 {
      height: 180px; }
    .gallery .gallary-line .img5 {
      height: 180px; } }
@media screen and (max-width: 992px) {
  .main-nav .container .nav-top {
    position: relative;
    float: none; }
    .main-nav .container .nav-top .navt li {
      display: none; }
    .main-nav .container .nav-top .navt .icon {
      float: right;
      display: inline-block;
      line-height: 100px; }
    .main-nav .container .nav-top .navt.responsive {
      float: none;
      clear: both;
      line-height: 30px; }
      .main-nav .container .nav-top .navt.responsive .icon {
        right: 0;
        top: 0;
        position: absolute;
        line-height: 100px; }
      .main-nav .container .nav-top .navt.responsive li {
        float: none;
        display: inline; }
        .main-nav .container .nav-top .navt.responsive li a {
          display: block;
          text-align: center; }
        .main-nav .container .nav-top .navt.responsive li .last-line {
          line-height: 1;
          padding: 10px 0; }

  .footer-black .container .left-footer {
    float: none;
    text-align: center; }
  .footer-black .container .right-footer {
    display: none; }

  .contacts .get-in-touch .block-1 {
    width: 20%; }
  .contacts .get-in-touch .block-2 {
    width: 80%;
    padding: 0; }
    .contacts .get-in-touch .block-2 .connect-us {
      display: none; }
  .contacts .get-in-touch .block-3 {
    width: 50%;
    text-align: left; }
    .contacts .get-in-touch .block-3 .connect-us {
      padding-top: 15px; }
    .contacts .get-in-touch .block-3 .one-line {
      display: inline-block; }
  .contacts .get-in-touch .block-4 {
    width: 50%;
    text-align: left; }
    .contacts .get-in-touch .block-4 .connect-us {
      padding-top: 15px; }
    .contacts .get-in-touch .block-4 .one-line {
      display: inline-block; }

  .new-page .pages {
    width: 70%; }

  .case-study .container .left-block {
    float: none;
    text-align: center; }
  .case-study .container .right-block {
    float: none;
    height: 400px;
    width: 100%;
    text-align: center; }
    .case-study .container .right-block .right-info {
      width: 100%; }

  .projects {
    min-height: 200px; }
    .projects .container .display-flex {
      min-height: 200px; }
      .projects .container .display-flex .project-block {
        width: 210px; }
        .projects .container .display-flex .project-block img {
          width: 50%; }
        .projects .container .display-flex .project-block .text-anvio {
          font-size: 20px; }

  .wrapper.contact .main-block .container .map-style {
    height: 860px; }
  .wrapper.contact .main-block .container .input-field {
    margin: auto;
    top: auto;
    height: 700px;
    bottom: 0;
    right: 0;
    width: 100%; }
    .wrapper.contact .main-block .container .input-field .hole-form {
      width: 55%; }

  .g-recaptcha {
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0; }

  .gallery.members-gallary .gallary-line {
    margin-top: 0; } }
@media (max-width: 695px) {
  .wrapper.plans-and-prices .main-block .container .display-flex .plans {
    width: 353px;
    margin: 0 auto;
    margin-bottom: 10px; }
    .wrapper.plans-and-prices .main-block .container .display-flex .plans .img-plan {
      float: none; }
      .wrapper.plans-and-prices .main-block .container .display-flex .plans .img-plan img {
        width: 100%;
        height: 384px; }
    .wrapper.plans-and-prices .main-block .container .display-flex .plans .discription .block-responsive {
      width: 100%; }
      .wrapper.plans-and-prices .main-block .container .display-flex .plans .discription .block-responsive .button {
        float: right; } }
@media (max-width: 645px) {
  .wrapper.amenities .main-block .blocks .container .display-flex {
    justify-content: center; } }
@media (max-width: 639px) {
  .wrapper .main-block {
    min-height: 660px; }
    .wrapper .main-block .main-info {
      height: 450px; }
  .wrapper .container .partners {
    justify-content: space-around;
    line-height: 90px; }
  .wrapper .main-block .main-info .local-com {
    width: 95%; }
    .wrapper .main-block .main-info .local-com h1, .wrapper .main-block .main-info .local-com h2 {
      text-align: center;
      font-size: 40px;
      line-height: 35px; }
    .wrapper .main-block .main-info .local-com .text-center {
      text-align: center; }
    .wrapper .main-block .main-info .local-com .more {
      text-align: center; }

  .new-page .pages {
    width: 90%; } }
@media (max-width: 590px) {
  .contacts .get-in-touch {
    padding-top: 15px;
    padding-bottom: 20px; }
    .contacts .get-in-touch .block-1 {
      width: 100%;
      text-align: center;
      margin-bottom: 10px; }
      .contacts .get-in-touch .block-1 img {
        height: 90px; }
    .contacts .get-in-touch .block-2 {
      width: 100%;
      text-align: center; }
      .contacts .get-in-touch .block-2 .connect-us {
        display: none; }
    .contacts .get-in-touch .block-3 {
      width: 100%;
      text-align: center; }
    .contacts .get-in-touch .block-4 {
      width: 100%;
      text-align: center; }

  .case-study .container .left-block img {
    width: 90%; }
  .case-study .container .right-block {
    height: 450px; }

  .new-page .pages .page-name {
    font-size: 40px; } }
@media (max-width: 450px) {
  .contacts .get-in-touch .block-3 {
    width: 100%;
    text-align: center; }
  .contacts .get-in-touch .block-4 {
    width: 100%;
    text-align: center; }

  .footer-black .container .left-footer {
    text-align: center; }
    .footer-black .container .left-footer a {
      display: none; }

  .wrapper .main-block .main-info .local-com h1, .wrapper .main-block .main-info .local-com h2 {
    margin-bottom: 20px; }
  .wrapper .main-block .main-info .local-com .more {
    margin-top: 20px; } }

/*# sourceMappingURL=index.css.map */
