

.wrapper {
  &.amenities {
    .main-block {
      min-height: unset;
      .blocks {
        background: #f5f5f4;
        .container {
          .display-flex {
            padding-top: 70px;
            padding-bottom: 25px;
            align-items: flex-end;
          .flex-block {
            height: 260px;
            width: 320px;
            text-align: center;
            padding-bottom: 20px;
            padding-left: 5px;
            padding-right: 5px;
            img {
              height: 90px;
              }
            .text-anvio {
              margin-top: 20px;
            }
            }
          }
        }
      }
    }
  }
}
