
.wrapper {
  &.contact {
    .main-block {
      min-height: 700px;
      .container {
        position: relative;
        .map-style {
          height: 700px;
        }
        .input-field {
          position: absolute;
          top: 0;
          right: 15px;
          width: 40%;
          background: white;
          opacity: 0.93;
          height: 700px;
          display: flex;
          justify-content: center;
          align-items: center;
          .hole-form {
            width: 60%;
            label {
              display: block;
              margin-bottom: 10px;
              font-size: 18px;
            }
            .input-style {
              height: 40px;
              width: 100%;
              font-size: 20px;
              padding: 0 10px;
              border: 1px solid #454545;
              margin-bottom: 20px;
              color: #aaaaaa;
            }
            .text-style {
              font-size: 20px;
              padding: 0 10px;
              border: 1px solid #454545;
              margin-bottom: 20px;
              width: 100%;
              color: #aaaaaa;
            }
            .button {
              width: 100%;
            }
            .heading-contact {
              text-transform: uppercase;
              font-size: 25px;
              font-weight: 600;
              padding-bottom: 20px;
            }
          }
        }
      }
    }
  }
}