.wrapper {
  &.pricing {
    .main-block {
      .container {
        //.display-flex {
        //  .plans {
        //    width: 353px;
        //    .img-plan {
        //      position: relative;
        //      height: 437px;
        //      img {
        //        width: 100%;
        //      }
        //      .back-color {
        //        position: absolute;
        //        height: 105px;
        //        background-color: rgba(221,89,49,0.4);
        //        bottom: 0;
        //        width: 100%;
        //        text-align: right;
        //        .text-plan {
        //        bottom: 0;
        //        right: 0;
        //        padding: 25px;
        //        color: #ffffff;
        //        .text-p {
        //          font-size: 25px;
        //          text-transform: uppercase;
        //        }
        //      }
        //    }
        //  }
        //    .description {
        //      background: #f5f5f4;
        //      padding: 25px;
        //      p {
        //        font-size: 15px;
        //        line-height: 25px;
        //        padding-bottom: 30px;
        //      }
        //      h4, h5, h3{
        //        font-size: 17px;
        //        display: inline-block;
        //        p {
        //          display: inline-block;
        //        }
        //      }
        //      .button {
        //        margin-top: 40px;
        //        margin-bottom: 30px;
        //      }
        //    }
        //  }
        //}
      }
    }
  }
}

.btn-plan {
  .button {
    padding:0 10px;
    background: unset;
    font-size: unset;
    border-color: white;
    &:hover {
      color:white;
      background: #dd5931;
      border-color: #dd5931;
    }
  }
}

.btn-plan-contact {
  text-align: center;
  .button {
    padding:0 16px;
    border-color: #000000;
    color: #000000;
    background: #ffffff;
  }
}

.gray-text {
  color: #95989A;
  font-size: 10px;
}


.new-page {
  .pages {
    &.coworking {
      text-align: center;
      margin: 24px 0;
      .page-name {
        display: inline;
        &:before {
          left:28%;
          width: 106px;
        }
      }
      .text-p {
        margin: 24px;
        font-size: 16px;
      }
    }
  }
}

.amenities-block {
  .bloks-icons {
    width: 200px;
    text-align: center;
    img {
      height: 128px;
    }
  }
}

.icons-text {
  padding: 32px 0;
  font-size: 20px;
}
/* Gallery */

.gallery {
  &.pricing-gallery {
    .gallery-line {
      .img1 {
        background-image: url(../images/img1-p.jpg);
      }
      .img2 {
        background-image: url(../images/img2-p.jpg);

      }
      .img3 {
        background-image: url(../images/img3-p.jpg);
        background-position-y: 70%;
      }
      .img4 {
        background-image: url(../images/img4-p.jpg);
        display: flex;
        background-position: right;
      }
    }
  }
}


/*Offers Slick*/

.offers {
  &.slick-initialized {
    margin-right: -24px;
    .slick-list {
      .slick-track {
        display: flex;
        .plans {
          border: 2px solid transparent;
          .plan {
            position: relative;
            display: flex;
            flex-direction:column;
            
            img {
              width: 100%;
              filter: grayscale(100%);
            }
            .text-plan {
              position: absolute;
              width: 100%;
              top: 50%;
              left: 50%;
              text-align: center;
              transform: translate(-50%, -50%);
              color:#ffffff;
              .text-p {
                font-size: 25px;
                text-transform: uppercase;
              }
            }
          }
          &:hover {
            border: 2px solid #000;
          }
          &:hover img {
            filter:none;
          }
          &:hover li {
            color:#FF5533;
          }
          &:hover .button {
            color: #ffffff;
            background:#FF5533;
            border-color:#FF5533;
          }
          .btn-plan-contact {
            margin-top: auto;
            padding-bottom: 24px;
          }
        }

        .plans-points {
          position: relative;
          padding: 24px 20px;
          ul {
            //min-height: 525px;
            padding: 0 10px;
            font-size: 16px;
            li {
              padding-bottom: 16px;
              position: relative;
              color:#95989A;
              .gray-text {
                color:#95989A;

              }
              span {
                color: #000;
              }
            }
            .last-li {
              padding-bottom: 24px;
              .gray-text:first-child {
                margin-top: 24px;
                &.last-c {
                  margin-top: 47px;
                }
              }
            }
          }
          .notes {
            position: relative;
            .glay-line {
              width: 100%;
              height: 1px;
              background:#95989A;
              margin-bottom: 24px;
            }
          }
        }
      }
    }
    .slick-prev {
      top: -19px;
      left: auto;
      right: 72px;
      z-index: 2;
      &:before {
        content: '\f053';
        color:#ffffff;
        font-family: FontAwesome;
        background: #FF5533;
        padding: 10px;
      }
    }
    .slick-next {
      top: -19px;
      right: 38px;
      &:before {
        content: '\f054';
        color:#ffffff;
        font-family: FontAwesome;
        background:#FF5533 ;
        padding: 10px;
      }
    }
    .slick-slide {
      margin-right: 24px;
      height: auto;
      float: none;
      display: flex;
      flex-direction: column;
    }
  }
}

