.number {
  background: #cccccc;
  border-radius: 50%;
  padding: 4px 7px;
  color: white;
  font-size: 10px;
  &:not(:first-child) {
margin-left: 20px;
  }
}

.wrapper {
  &.invitation {
    min-height: 738px;
    .main-block {
      min-height: 587px;
      .container {
        .img-ivitation {
          position: relative;
          height: 180px;
          .left-img {
            background-image: url(../images/invitation.jpg);
            background-size: contain;
            height: 160px;
            background-repeat: no-repeat;
            width: 185px;
            float: left;
          }
          .text-invitation {
            float: left;
            margin: 45px 0;
            h2 {
              font-size: 30px;
            }
          }
          &:before {
            content: " ";
            position: absolute;
            height: 1px;
            background: #dd5931;
            width: 100%;
            bottom: 0;
          }
        }
        .form-block {
          width: 70%;
          background-color: rgba(221, 89, 49, 0.4);
          margin-top: 40px;
          padding: 20px;
          .input-style {
            width: 80%;
            float: left;
            border-color: #cccccc;
          }
          .btn-link {
            float: left;
            padding: 9px 41px;
            font-size: 15px;
            border-color: transparent;
            background: #dd5931;
            color: white;
            cursor: pointer;
            &:hover {
              background: white;
              border-color: black;
              color: black;
            }
          }
          label {
            font-size: 17px;
            display: block;
            margin-bottom: 5px;
          }
          .form-block-two {
            .btn-link {
              float: right;
              padding: 9px 31px;
            }
            .text-style {
              border-color: #cccccc;
              margin-bottom: 18px;
            }
          }
        }
      }
    }
  }
}