
.gallery {
  &.invitation {
    .gallery-line {
      margin-top: 0;
    }
  }
}

.wrapper {
  &.invitation {
    .main-block {
      min-height:unset;
      .container {
        .add-friends {
          margin-bottom: 40px;
          .pic-invite {
            width: 10%;
            float: left;
            margin-right: 10px;
            img {
              height: 95px;
            }
          }
          .text-invite {
            font-size: 25px;
            line-height: 35px;
            width: 80%;
            float: left;
            margin-bottom: 10px;
          }
          .number-block {
            margin: 15px 0;
            font-size: 17px;
            .block-n {
              display: inline-block;
              position: relative;
              &:not(:last-child) {
                padding-right: 70px;
                &:after {
                  content: '';
                  position: absolute;
                  width: 50px;
                  height: 3px;
                  background: #dd5931;
                  right: 8px;
                  top: 11px;
                }
              }
              .numbers {
                background: #dd5931;
                border-radius: 50%;
                padding: 5px 10px;
                color: white;
                margin-right: 5px;
              }
            }
          }
        }
      }
      .form-invitation {
        background: #f5f5f4;
        font-size: 18px;
        padding-bottom: 50px;
        .container {
          .heading-contact {
            margin-top: 40px;
            display: inline-block;
          }
          .form-invite {
            .contacts-invite {
              width: 80%;
              margin: 0 auto;
              .form-block {
                display: inline-block;
                width: 40%;
                &:first-child {
                  margin-right: 20px;
                }

                label {
                  margin-bottom: 10px;
                  display: inline-block;
                }
                &:nth-child(3) {
                  text-align: center;
                  position: relative;
                  width: 15%;
                  &:last-child {
                    &:after {
                      content: '+';
                      position: absolute;
                      color:#dd5931;
                      bottom: -42px;
                      left: 48%;
                    }
                  }
                }
                span {
                  color: #aaaaaa;
                  background: white;
                  border-radius: 50%;
                  border: 2px solid;
                  padding: 16px 7px;
                  font-size: 25px;
                }
              }
              .button {
                &.form-btn {
                  margin-top: 30px;
                }
              }
              &.total {
                padding: 40px 0;
                text-align: center;
                .sales {
                  display: inline-block;
                  margin: 0 20px;
                  .heading-contact {
                    margin: 0;
                    padding-bottom: 0;
                  }
                }
                .form-block {
                  &:after {
                    content: " ";
                    display: none;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Gallery */

.gallery {
  &.invitation {
    .gallery-line {
      margin-top: 0;
      .img1 {
        background-image: url(../images/img1-i.jpg);
      }
      .img2 {
        background-image: url(../images/img2-i.jpg);
      }
      .img3 {
        background-image: url(../images/img3-i.jpg);
      }
      .img4 {
        background-image: url(../images/img4-i.jpg);
      }
    }
  }
}