* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  border: 0;
}

a {
  text-decoration: none;
  color:#FF5533;
  cursor: pointer;
  &:hover {
    color:#000000;
  }
}

.hidden {
  display: none;
}

.text-up {
  text-transform: uppercase;
}

.btn-center {
  text-align: center;
}

.btn-right {
  text-align: right;
}

.odd {
  background:#FCFCFB;
}

.display-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
}

.flex-item-1 {
  flex:0 0 8.33333333%;
  max-width:8.33333333%;
}

.flex-item-2 {
  flex:0 0 16.33333333%;
  max-width:8.66666667%;
}

.flex-item-3 {
  flex:0 0 25%;
  max-width:25%;
}

.flex-item-4 {
  flex:0 0 33.33333333%;
  max-width:33.33333333%;
}

.flex-item-5 {
  flex:0 0 41.66666667%;
  max-width:41.66666667%;
}

.flex-item-6 {
  flex:0 0 50%;
  max-width:50%;
}

.flex-item-7 {
  flex:0 0 58.33333333%;
  max-width:58.33333333%;
}

.flex-item-8 {
  flex:0 0 66.66666667%;
  max-width:66.66666667%;
}

.flex-item-9 {
  flex:0 0 75%;
  max-width:75%;
}

.flex-item-10 {
  flex:0 0 83.33333333%;
  max-width:83.33333333%;
}

.flex-item-11 {
  flex:0 0 91.66666667%;
  max-width:91.66666667%;
}

.flex-item-12 {
  flex:0 0 100%;
  max-width:100%;
}

.language {
  display: inline-block;
  img {
    height: 12px;
  }
}

.text-upercase {
  text-transform:uppercase ;
  font-size: 30px;
  margin-top: 40px;
}

.left-fb-block {
  float:left;
  margin: 0 35px 60px;
}

.fb-container-responsive {
  display: none;
}

body {
  font-family: 'Lato-Regular', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  background-color: #fff;
  -webkit-text-size-adjust:none;
}

#reCaptcha {
  position: absolute;
  z-index: 1;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.heading-contact {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 20px;
}

.input-style {
  height: 40px;
  width: 100%;
  font-size: 20px;
  padding: 0 10px;
  border: 1px solid #454545;
  margin-bottom: 20px;
  ::-webkit-input-placeholder {
    color: #aaaaaa;
  }
  ::-moz-placeholder {
    color: #aaaaaa;
  }
  :-ms-input-placeholder {
    color: #aaaaaa;
  }
  :-moz-placeholder {
    color: #aaaaaa;
  }
}
.text-style {
  font-size: 20px;
  padding: 10px;
  border: 1px solid #454545;
  margin-bottom: 20px;
  width: 100%;
  resize:none;
}

.connect-us {
  color: black;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

.button-contact {
  width: 100%;
}

.clear {
  clear: both;
}

.pull-center {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.button {
  display: inline-block;
  background: #FF5533;
  font-size: 17px;
  padding: 10px 50px;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid transparent;
  cursor:pointer;
  text-decoration: none;
  &:hover {
    border-color: black;
    color:black;
    background: transparent;
  }
}

.image {
  height: 360px;
  .image-contact {
    background-image: url(../images/contacts.jpg);
    background-size: cover;
    background-position: 50% 30%;
    height: 360px;
  }
  .image-members {
    background-image: url(../images/members.jpg);
    background-position:20% 50%;
    background-size: cover;
    height: 360px;
  }
  .image-coworking {
    background-image: url(../images/coworking-bg.jpg);
    background-position: 52% 48%;
    background-size: cover;
    height: 360px;
  }
  .image-terms {
    background-image: url(../images/terms.jpg);
    background-position: 52% 27%;
    background-size: cover;
    height: 360px;
  }
  .image-book_tour {
    background-image: url(../images/book.jpg);
    background-position: 50% 50%;
    background-size: cover;
    height: 360px;
  }
  .image-invite {
    background-image: url(../images/invite.jpg);
    background-position: 45% 27%;
    background-size: cover;
    height: 360px;
  }
  .image-gallery {
    background-image: url(../images/gallery.jpg);
    background-position: 40% 58%;
    background-size: cover;
    height: 360px;
  }
  .image-media {
    background-image: url(../images/media.jpg);
    background-position: 45% 48%;
    background-size: cover;
    height: 360px;
  }
}


.text-anvio {
  font-family: 'Lato-Regular', sans-serif;
  font-weight: 700;
  margin-top: 40px;
  font-size: 25px;
  margin-bottom: 15px;
}

.wrapper {
  &.notfound-page {
    min-height: 500px;
    .main-block {
      &.notfound {
        min-height: 500px;
        background-image: url(../images/404.png);
        background-position: 100% 50%;
        background-size: cover;
        position: relative;
        background-color:#f5f5f4;
        .container {
          height: 500px;
          .text-notfound {
            position: relative;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;
            .links {
              font-size: 25px;
            }
            .link-notfound {
              color: #000000;
              font-size: 70px;
              font-weight: bold;
              &:hover {
                color: #FF5533;
              }
            }
            .location {
              display: inline-block;
              vertical-align: sub;
              #location {
                display: block;
              }
            }
          }
        }
      }
    }
  }

  &.members {
    .new-heading {
      padding: 40px 10px;
    }
  }
  &.terms {
    .main-block {
      .container {
        h2 {
          font-size: 40px;
        }
        .text-title {
          font-size: 30px;
          font-weight: 700;
          margin-bottom: 10px;
          display: inline-block;
        }
        p {
          font-size: 17px;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        ul li {
          font-size: 17px;
          margin-bottom: 20px;
          list-style: inside;
        }
      }
    }
  }
  min-height: 800px;
  &.main {
    .main-block {
      background-image: url(../images/bg.jpg);
      background-position: center;
      background-size: cover;
      position: relative;
      .main-info {
        height: 757px;
        &.ru-vertion {
          h1,h2 {
            font-size: 74px;
            line-height:65px;
          }
        }
      }
    }
    .main-block {
      .main-nav {
        .container {
          .nav-top {
            .blog {
              background: #ffffff;
              color:#000000;
              &:hover {
                border-color: #FF5533;
                color:#ffffff;
                background:#FF5533;
              }
            }
            .icon {
              a {
                color: white;
              }
            }
            #menu-toggle {
              &.open {
                #cross {
                  span {
                    background: white;
                  }
                }
              }
              #hamburger {
                span {
                  background: white;
                }
              }
            }
          }
        }
      }
    }
  }
  .main-block {
    min-height: 860px;
    .main-nav {
      background: transparent;
      .container {
        .nav-top {
          ul {
            li {
              .link {
                color:white;
                position: relative;
                &:hover {
                  &:before {
                    content:'';
                    background: white;
                  }
                }
              }
            }
          }
          .blog {
            &:hover {
              background: white;
              color:black;
            }
          }
        }
      }
    }
    .main-info {
      height: 670px;
      .local-com {
        color: white;
        width: 80%;
        margin: 0 auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        h1,h2 {
          font-family: 'Lato-Regular', sans-serif;
          font-size: 90px;
          letter-spacing: 1px;
          line-height: 75px;
          margin-bottom: 30px;
        }
        .text-center {
          font-size: 19px;
          width: 95%;
        }
        .more {
          margin-top: 40px;
          display: block;
          .more-about {
            display: inline-block;
            font-size: 18px;
            color: white;
            text-transform: uppercase;
            padding: 10px 50px;
            border: 3px solid #FF5533;
            text-decoration: none;
            background: #FF5533;
            &:hover {
              border-color: #ffffff;
              background: transparent;
            }
          }
        }
      }
    }
  }
  .container {
    .partners {
      line-height: 150px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .usaid {
        img {
          height: 48px;
        }
      }
      .sweden {
        img {
          height: 100px;
        }
      }
      .pycoding{
        img {
          height: 24px;
        }
      }
      .mitoc {
        img {
          height: 40px;
        }
      }
    }
  }
  &.thankyou {
    min-height: unset;
    .main-block {
      min-height: unset;
      background: #f5f5f4;
      .container {
        &.new-page {
          width: 50%;
          text-align: center;
          padding: 40px 0;
          .pages {
            .page-name{
              text-align: center;
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}


/* Navigation */

.main-nav {
  min-height: 100px;
  background: #ffffff;
  .container {
    .logo {
      line-height: 100px;
      float: left;
      a {
        display: block;
      }
      .img-logo {
        height: 60px;
        a {
          display: inline-block;
        }
      }
    }
    .nav-top {
      float: right;
      position: relative;
      .icon {
        display: none;
        a {
          color: black;
          font-size: 25px;
          text-decoration: none;
        }
      }
      .active {
        .link {
          border: 2px solid black;
        }
      }
      ul {
        line-height: 100px;
        margin-bottom: 0;
        li {
          display: inline-block;
          text-decoration: none;
          .link {
            position: relative;
            color: black;
            text-transform: uppercase;
            font-size: 16px;
            text-decoration: none;
            padding:2px 4px;
            border: 2px solid transparent;
            &.active {
              border-color: black;
            }
            &:hover {
              &:before {
                content: '';
                position: absolute;
                height: 2px;
                background: black;
                left: 0;
                right: 0;
                bottom: -2px;
              }
            }
          }
          a {
            text-decoration: none;
            margin: 0 2px;
          }
        }
      }
      .blog {
        background:  #000000;
        font-size: 16px;
        padding: 2px 4px;
        line-height: normal;
        color: white;
        text-transform: uppercase;
        border: 2px solid transparent;
        &:hover {
          border-color: #FF5533;
          color:#ffffff;
          background:#FF5533;
        }
      }
    }
  }
}

/* Main Footer*/

.contacts {
  .get-in-touch {
    min-height: 140px;
     &.flex-row {
       .block-1 {
         line-height: 140px;
         img {
           height:64px;
         }
       }
       .block-2 {
         padding: 32px;
         .one-line {
           a {
             width: 44px;
             height: 44px;
             text-align: center;
             line-height: 44px;
             border: 2px solid transparent;
             display: inline-block;
             color: #000000;
             :hover {
               color:#FF5533;
             }
             .mdi-set {
               font-size: 24px;
             }
           }
         }
       }
       .block-3 {
         .right-side {
           float: right;
         }
         padding: 30px 0;
         line-height: 20px;
         .connect-us {

         }
         .color-link {
           color: #000000;
           font-weight: bold;
           &:hover {
             color:#FF5533;
           }
         }
       }
     }
  }
}

.footer-black {
  color: #000000;
  .container {
    .left-footer {
      float: left;
      line-height: 40px;
      height:40px;
      .language {
        margin-left: 3px;
      }
      a {
        text-decoration: none;
        margin-left: 20px;
        color: #000000;
        &:hover {
          color: #FF5533;
        }
      }
    }
    .right-footer {
      float: right;
      line-height: 40px;
      height: 40px;
      ul {
        margin-bottom: 0;
        li {
          display: inline;
          a {
            text-decoration: none;
            margin-left: 20px;
            color: #000000;
            &:hover {
              color:#FF5533;
            }
          }
        }
      }
    }
  }
}

/* Title */

.image {
  .page {
    position: relative;
    .text-page-name {
      display: inline;
      position: absolute;
      top:50%;
      left:50%;
      transform: translate(-50%, -50%);
      .page-name {
        font-family: 'Lato-Regular', sans-serif;
        font-size: 45px;
        position: relative;
        text-transform: uppercase;
        color:#ffffff;
        text-align: center;
        &:before {
          content: '';
          position: absolute;
          width: 95px;
          height: 6px;
          background:#FF5533;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

.new-page {
  &.members-page {
    .pages {
      margin-bottom: 40px;
    }
  }
  .pages {
    margin: 40px 0;
    .text-page {
      font-size: 17px;
    }
    .page-name {
      font-family: 'Lato-Regular', sans-serif;
      font-size: 45px;
      position: relative;
      text-transform: uppercase;
      padding-bottom: 5px;
      margin-bottom: 20px;
      &:before {
        content: '';
        position: absolute;
        width: 80px;
        height: 6px;
        background:#FF5533;
        bottom: 0;
      }
    }
  }
}

.new-heading {
  padding-top: 40px;
  padding-bottom: 10px;
  .pages {
    .heading {
      font-family: 'Lato-Regular', sans-serif;
      font-size: 50px;
      color:#ccc;
    }
  }
}

/* Footer Gallery*/

.footer-carousel {
  .pic {
    position: relative;
    .image-members {
      img {
        width: 100%;
      }
    }
    &.slick-center {
      .hidden-avatar  {
        opacity: 1;
        transition: all .2s ease-in-out;
      }
    }
    .we-love {
      display: flex;
      position: absolute;
      z-index: 1;
      margin: auto;
      font-size: 25px;
      color:white;
      width: 90%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      flex-wrap: wrap;
      flex-direction: column;
      text-align: center;
      justify-content: center;
      .avatar {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius:  50%;
        position: relative;
        background:#95989A ;
        margin: 0 auto;
        border: 4px solid #FF5533;
        img {
          height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      .avatar-comment {
        text-transform: uppercase;
        display: block;
        font-size:16px;
        //padding-bottom: 24px;
      }
      .comment {
        line-height: 25px;
        padding-bottom: 32px;
        width: 100%;
        .quote {
          padding-bottom: 15px;
          text-align: left;
          font-size: 35px;
          color:#FF5533;
        }
        span {
          font-size: 15px;
        }
      }
    }
    .hidden-avatar {
      opacity: 0;
      transition: all .3s ease-in-out;
    }
  }
}


.pic {
  width: 25%;
  float: left;
}

.we-love {
  display: none;
}

.img-value {
  background-position: center;
  background-size: cover;
  position: relative;
  height: 300px;
  width: 100%;
  display: flex;
}

.img-hover {
  &:hover {
    &:before {
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right:0;
      position: absolute;
      transition: 0.5s;
      background-color: rgba(221, 89, 49, 0.8);
    }
  }
}

#menu-toggle {
  display: none;
  float: right;
  width:30px;
  height:30px;
  position:relative;
  top:35px;
  cursor:pointer;

  #hamburger {
    position:absolute;
    height:100%;
    width:100%;
    span {
      width:30px;
      height:4px;
      position:relative;
      top:0;
      left:-5px;
      margin:5px;
      display:block;
      background:black;
      border-radius:2px;
      &:nth-child(1){
        transition-delay:.5s;
      }
      &:nth-child(2){
        transition-delay:.625s;
      }
      &:nth-child(3){
        transition-delay:.75s;
      }
    }
  }
  #cross {
    position:absolute;
    height:100%;
    width:100%;
    transform:rotate(45deg);
    span{
      &:nth-child(1){
        height:0%;
        width:4px;
        position:absolute;
        top:10%;
        left:13px;
        transition-delay:0s;
      }
      &:nth-child(2){
        width:0%;
        height:4px;
        position:absolute;
        left:10%;
        top:13px;
        transition-delay:.25s;
      }
    }
  }
}

#menu-toggle.open {
  #hamburger {
    span {
      width:0%;
      &:nth-child(1){
        transition-delay:0s;
      }
      &:nth-child(2){
        transition-delay:.125s;
      }
      &:nth-child(3){
        transition-delay:.25s;
      }
    }
  }
  #cross {
    span {
      display:block;
      background:black;
      border-radius:2px;
    }
    span {
      &:nth-child(1){
        height:80%;
        transition-delay:.625s;
      }
    }
    span {
      &:nth-child(2){
        width:80%;
        transition-delay:.375s;
      }
    }
  }
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.eot');
  src: local('☺'), url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}


/* Gallery for terms*/

.gallery {
  &.terms {
    .gallery-line {
      margin-top: 60px;
    }
  }
}


/* Gallery for photo-gallery*/

.gallery {
  &.photos-gallery {
    .gallery-line {
      margin-top: 0;
    }
  }
}

/* Gallery for media*/

.gallery {
  &.media-gallery {
    .gallery-line {
      margin-top: 0;
    }
  }
}
