* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  border: 0;
}


.display-flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

body {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.connect-us {
  color: black;
  font-size: 19px;
  font-weight: bold;
  padding-bottom: 5px;
}

.clear {
  clear: both;
}


.image {
  height: 200px;
  .image-amentities {
    background-image: url(../images/amenitis.png);
    background-position: center;
    background-size: cover;
    height: 200px;
  }
  .image-contact {
    background-image: url(../images/contact.png);
    background-size: cover;
    background-position: 48% 16%;
    height: 200px;
  }
  .image-members {
    background-image: url(../images/members.png);
    background-position: 20% 80%;
    background-size: cover;
    height: 200px;
  }
  .image-plans {
    background-image: url(../images/plans.png);
    background-position: 52% 48%;
    background-size: cover;
    height: 200px;
  }
}


.text-anvio {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  margin-top: 40px;
  font-size: 25px;
  margin-bottom: 15px;
}

.wrapper {
  min-height: 800px;
  &.main {
    .main-block {
      background-image: url(../images/bg.png);
      background-position: center;
      background-size: cover;
      position: relative;
    }
    .main-block {
      .main-nav {
        .container {
          .nav-top {
            .icon {
              a {
                color: white;
              }
            }
          }
        }
      }
    }
  }
  .main-block {
    min-height: 860px;
    .main-nav {
      background: transparent;
      .container {
        .nav-top {
          ul {
            li {
              .link {
                color:white;
                &:hover {
                  border-bottom-color: white;
                }
              }
            }
          }
        }
      }
    }
    .main-info {
      height: 670px;
      .local-com {
        color: white;
        width: 80%;
        margin: 0 auto;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        h1,h2 {
          font-family: 'Lato', sans-serif;
          font-size: 90px;
          letter-spacing: 1px;
          line-height: 60px;
          margin-bottom: 30px;
        }
        .text-center {
          font-size: 19px;
          width: 95%;
        }
        .more {
          margin-top: 40px;
          display: block;
          .more-about {
            display: inline-block;
            font-size: 18px;
            color: white;
            text-transform: uppercase;
            padding: 10px 50px;
            border: 3px solid;
            text-decoration: none;
            .text-bold {
              font-size: 20px;
            }
            &:hover {
              background: #dd5931;
              border-color: #dd5931;
            }
          }
        }
      }
    }
  }
  .container {
    .partners {
      line-height: 150px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;

    }
  }
}


/* Navigation */

.main-nav {
  min-height: 120px;
  background: #ffffff;
  .container {
    .logo {
      line-height: 120px;
      float: left;
      .img-logo {
        height: 75px;
      }
    }
    .nav-top {
      float: right;
      .icon {
        display: none;
        a {
          color: black;
          font-size: 25px;
          text-decoration: none;
        }
      }
      .active {
        .link {
          border: 2px solid black;
        }
      }
      ul {
        line-height: 120px;
        margin-bottom: 0;
        li {
          display: inline-block;
          text-decoration: none;
          .link {
            color: black;
            text-transform: uppercase;
            margin: 0 12px;
            font-size: 20px;
            text-decoration: none;
            padding:2px 8px;
            border: 2px solid transparent;
            &.active {
              border-color: black;
            }
            &:hover {
              border-bottom-color: black;
            }
          }
          a {
            text-decoration: none;
          }
        }
      }
      .blog {
        background: #dd5931;
        font-size: 22px;
        padding: 0 10px;
        margin-left: 20px;
        line-height: normal;
        color: white;
      }
    }
  }
}

/* Main Footer*/

.contacts {
  background: #f5f5f4;
  color: #888;
  .get-in-touch {
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: space-between;
    .block-1 {
      width: 11%;
      line-height: 110px;
      img {
        height: 100px;
      }
    }
    .block-2 {
      width: 54%;
      padding-right: 37px;
      padding-left: 30px;
    }
    .block-3 {
      width: 15%;
      .new-line {
        display: block;
      }
      a {
        color: #888;
        text-decoration: none;
      }
    }
    .block-4 {
      width: 20%;
      a {
        color: #888;
        font-size: 20px;
      }
      .fa {
        padding: 3px;
        border: 2px solid transparent;
        &:hover {
          border: 2px solid #dd5931;
          color: #dd5931;
        }
        &.fa-google-plus {
          font-size: 16px;
        }
      }
    }
  }
}

.footer-black {
  background: #454545;
  .container {
    .left-footer {
      float: left;
      color: grey;
      line-height: 50px;
      height: 50px;
      a {
        text-decoration: none;
        margin-left: 20px;
        color: #f5f5f4;
        &:hover {
          color: #dd5931;
        }
      }
    }
    .right-footer {
      float: right;
      line-height: 50px;
      height: 50px;
      ul {
        margin-bottom: 0;
        li {
          display: inline;
          a {
            text-decoration: none;
            margin-left: 20px;
            color: #f5f5f4;
            &:hover {
              color: #dd5931;
            }
          }
        }
      }
    }
  }
}

/* Title */


.new-page {
  height: 150px;
  .pages {
    width: 60%;
    top: 45%;
    position: relative;
    transform: translateY(-50%);
    .text-page {
      font-size:15px;
    }
    .page-name {
      font-family: 'Lato', sans-serif;
      font-size: 45px;
      position: relative;
      text-transform: uppercase;
    }
  }
}

.new-heading {
  padding-top: 40px;
  padding-bottom: 10px;
  .pages {
    .heading {
      font-family: 'Lato', sans-serif;
      font-size: 50px;
      color:#ccc;
    }
  }
}

.line {
  width: 80px;
  height: 6px;
  background:#dd5931;
}