.text-name {
  text-transform: uppercase;
}

.text-work {
 color:#aaaaaa;
  font-size: 15px;
}


.wrapper {
  &.members {
    .main-block {
      .container {
        .our-members {
          &.slick-slider {
            .slick-list {
              margin: 0 -15px;
            }
          }
          .slick-prev {
            top: -20px;
            left: auto;
            right: 42px;
            &:before {
              content: '<';
              background: #dd5931;
              color: white;
              text-align: left;
              padding: 2px 10px 10px 10px;
            }
          }
          .slick-next {
            top: -20px;
            right: 11px;
            &:before {
              content: '>';
              background: #dd5931;
              color: white;
              text-align: left;
              padding: 2px 10px 10px 10px;
            }
          }
          .slick-list {
            .member-info {
              &.slick-slide {
                margin: 0 15px;
              }
              .member-pic {
                img {
                  width: 100%;
                }
              }
              .all-info {
                margin-top: 20px;
                h2, h4 {
                  line-height: 20px;
                }
                h4 {
                  padding-bottom: 15px;
                }
              }
            }
          }
        }
      }
    }
  }
}

.projects {
  background: #f5f5f4;
  min-height: 300px;
  .container {
    .display-flex {
      min-height: 300px;
      padding-top: 40px;
      padding-bottom: 40px;
      .project-block {
        width: 300px;
        text-align: center;
        margin: auto;
        font-size: 35px;
        .text-anvio {
          margin-top: 20px;
          margin-bottom: 10px;
        }
      }
    }
  }
}

.case-study {
  min-height: 500px;
  .container {
    margin-top: 50px;
    .left-block {
      float:left;
      width: 50%;
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      .mockup {
        background: #fff;
        border: 1px solid #e1e1e1;
        box-shadow: 0 1px 7px 0 rgba(0, 0, 0, .08);
        padding: 20px 50px 50px;
        position: relative;
        margin-bottom: 40px;
        .logo-img {
          height: 35px;
          margin: 0 auto;
          display: flex;
        }

        .mockup-head {
          border-width: 1px 0;
          border-color: #3b9ff3;
          border-style: solid;
          margin: 20px 0;
          padding: 5px 0 15px 0;
          h1 {
            color: #3b9ff3;
            font-size: 24px;
            line-height: 40px;
            margin: 0;
            text-align: left;
          }
          .flex-row {
            display: flex;
            flex-wrap: wrap;
            font-size: 17px;
            .flex-item-6 {
              width: 50%;
              margin: 10px 0;
              &.text-left {
                text-align: left;
              }
              &.text-right {
                text-align: right;
              }
              &.self-center {
                width: 50%;
                line-height: 37px;
                text-align: right;
              }
              .icons-cont {
                i {
                  background: #ddd;
                  padding: 6px;
                  border-radius: 50%;
                  margin-left: 10px;
                }
                .five {
                  padding: 7px 8px;
                  font-size: 17px;
                }
                .fa-facebook {
                  font-size: 15px;
                  padding: 9px 12px;
                }
                .fa-twitter {
                  font-size: 15px;
                  padding: 9px;
                }
              }
            }
          }
        }

        .mockup-cont {
          & > p {
            margin: 0 0 20px;
          }

          img {
            margin-bottom: 20px;
            opacity: .7;
            width: 100%;
          }

          .blurry {
            position: relative;
            p {
              filter: blur(2.5px);
              -webkit-filter: blur(2.5px);
            }

            .btn {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translateX(-50%) translateY(-50%);
              -webkit-transform: translateX(-50%) translateY(-50%);
              &.btn-primary {
                background: #44a5db;
                border: 0;
                padding: 10px;
                color: #fff;
                font-size: 13px;
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }
    .right-block {
      float:right;
      width: 50%;
      height:700px;
      .right-info {
        width: 90%;
        float: right;
        top: 50%;
        transform: translateY(-50%);
        position: relative;
        .logo {
          display: block;
          height: 100px;
          img {
            height: 80px;
            position: relative;
            top: 50%;
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
          }
        }
        p {
          margin-top: 20px;
          font-size: 16px;
        }
        .right-header {
          font-family: 'Lato', sans-serif;
         font-size: 50px;
         position: relative;
         margin-bottom: 20px;
         &:before {
           content: '';
           position: absolute;
           width: 140px;
           height: 6px;
           background: #dd5931;
           bottom: 0;
         }
       }
      }
    }
  }
}

.circle1, .circle2, .circle3 {
  margin: 0 auto;
  width: 175px;
  height: 175px;
  position: relative;

}

