
.btn-plan {
  .button {
    padding:0 10px;
    background: transparent;
    font-size: 16px;
    border-color: white;
    &:hover {
      color:white;
      background: #FF5533;
      border-color: #FF5533;
    }
  }
}

.btn-plan-contact {
  text-align: center;
  .button {
    padding:0 16px;
    border-color: #282B2E;
    color: #282B2E;
    background: #ffffff;
  }
}

.gray-text {
  color: #95989A;
  font-size: 12px;
}

.new-page {
  .pages {
    &.coworking {
      text-align: center;
      margin: 24px 0;
      .page-name {
        display: inline;
        &:before {
         position:absolute;
          width: 106px;
          left: 50%;
          transform: translateX(-50%);
        }
      }
      .text-p {
        margin: 24px;
        font-size: 16px;
      }
    }
  }
}

.amenities-block {
  .bloks-icons {
    width: 200px;
    text-align: center;
    img {
      height: 128px;
    }
  }
}

.icons-text {
  padding: 32px 0;
  font-size: 20px;
}


/*Offers Slick*/

.offers {
  &.slick-initialized {
    &.slick-slider {
      margin: 0 -7px;
    }
    .slick-list {
      .slick-track {
        display: flex;
        .plans {
          border: 2px solid transparent;
          transition: 0.4s ease-in-out;
          -webkit-transition: 0.5s ease-in-out;
          -moz-transition: 0.5s ease-in-out;
          -o-transition: 0.5s ease-in-out;
          .plan {
            position: relative;
            display: flex;
            flex-direction:column;
            img {
              width: 100%;
              filter: grayscale(100%);
            }
            .text-plan {
              position: absolute;
              width: 100%;
              top: 50%;
              left: 50%;
              text-align: center;
              transform: translate(-50%, -50%);
              color:#ffffff;
              label {
                font-size: 1.5em;
              }
              .text-p {
                font-size: 26px;
                text-transform: uppercase;
                font-weight: bold;
              }
              .btn-plan {
                margin-top: 5px;
              }
            }
          }
          &:hover {
            border: 2px solid #282B2E;
          }
          &:hover img {
            filter:none;
          }
          &:hover li {
            color:#FF5533;
          }
          &:hover .button {
            color: #ffffff;
            background:#FF5533;
            border-color:#FF5533;
          }
          .btn-plan-contact {
            margin-top: auto;
            padding-bottom: 24px;
          }
        }

        .plans-points {
          position: relative;
          padding: 24px 20px;
          .text-p {
            margin-bottom: 20px;
            font-weight: bold;
            text-align: center;
          }
          ul {
            padding: 0 10px;
            font-size: 16px;
            li {
              padding-bottom: 16px;
              position: relative;
              color:#95989A;
              .gray-text {
                color:#95989A;

              }
              span {
                color: #282B2E;
              }
            }
            .last-li {
              padding-bottom: 24px;
              .gray-text:first-child {
                margin-top: 24px;
                &.last-c {
                  margin-top: 47px;
                }
              }
            }
          }
          .notes {
            position: relative;
            .glay-line {
              width: 100%;
              height: 1px;
              background:#95989A;
              margin-bottom: 24px;
            }
          }
        }
      }
    }
    .slick-slide {
      margin-right: 7px;
      margin-left: 7px;
      height: auto;
      float: none;
      display: flex;
      flex-direction: column;
    }
  }
}

.overlay, .overlay1{
  .popup {
    .content {
      iframe {
        width: 100%;
        height: 100%;
      }
    }
  }
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
  z-index: 7;
  &.light {
    background: rgba(255,255,255,0.5);
  }
  .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default;
  }
}

.popup {
  margin: 75px auto;
  padding: 2em;
  width: 630px;
  position: relative;
  height: calc(100% - 150px);
  .light & {
    border-color: #aaa;
    box-shadow: 0 2px 10px rgba(0,0,0,0.25);
  }
  h2 {
    margin-top: 0;
    color: #777;
    font-family: "Trebuchet MS", Tahoma, Arial, sans-serif;
  }
  .close {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    right: 20px;
    opacity: 0.8;
    transition: all 200ms;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #777;
    &:hover {
      opacity: 1;
    }
  }
  .content {
    overflow: auto;
    display: flex;
    height: 500px;
    position: relative;
    top:50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  p {
    margin: 0 0 1em;
    &:last-child {
      margin: 0;
    }
  }
}

.pop-up-visible {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s;
}


#mc_embed_signup {
  &.coworking {
    top: 50%;
    left: 50%;
    position: absolute;
    -ms-transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    transform: translate(-50%, -50%);
    .mc-field-group {
      padding-right: 10px;
      width: 50%;
      &.field-left {
        float:left;
      }
    }
    .indicates-required {
      padding-bottom: 5px;
      padding-top: 5px;
    }
  }
}

/* MailChimp Form Embed Code - Classic - 12/17/2015 v10.7 */

#mc_embed_signup.coworking{background:#fff; clear:left;width: 100%; }
#mc_embed_signup form {display:block; width: 95%; margin: 0 auto;}
#mc_embed_signup h2 {font-weight:bold; padding:0; font-size: 25px;}

#mc_embed_signup input.mce_inline_error {
  border-color: transparent;
}
#mc_embed_signup .mc-field-group {clear:left; position:relative; min-height:50px; display: inline-block; margin-bottom: 30px;}

#mc_embed_signup .indicates-required {text-align:right; font-size:11px;padding-bottom: 20px;}

#mc_embed_signup #mce-success-response {color:#529214; display:none;}


#mc_embed_signup #mc-embedded-subscribe-form div.mce_inline_error {padding:0; background-color:rgba(255,255,255,0.85); -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; font-size:12px; font-weight:normal; position:absolute; color:#e85c41; display: block;}


.md-perspective,
.md-perspective body {
  height: 100%;
  overflow: hidden;
}

.md-perspective body  {
  background: #222;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px;
}

.container {
  /*background: #e74c3c;*/
  min-height: 100%;
}

.md-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 630px;
  max-width: 630px;
  min-width: 320px;
  height: auto;
  z-index: 2000;
  visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: transparent;
}

.md-show {
  visibility: visible;
  &.popup-open-1 {
    visibility: visible;
  }
}

.md-overlay1 {
  z-index: 2000;

}

.md-overlay, .md-overlay1 {
  position: fixed;
  width: 100%;
  height: 100%;
  visibility: hidden;
  top: 0;
  left: 0;
  z-index: 1000;
  opacity: 0;
  background: rgba(40, 43, 46, 0.8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.md-show {
  & ~ .md-overlay {
    opacity: 1;
    visibility: visible;
  }
}

/* Content styles */
.md-content {
  color: #fff;
  background: transparent;
  position: relative;
  border-radius: 3px;
  margin: 0 auto;
}

.md-content {
  & > div {
    margin: 0;
    font-weight: 300;
    font-size: 1.15em;
  }
}


.md-content  {
  button {
    display: block;
    margin: 0 auto;
    font-size: 0.8em;
  }
}

/* Individual modal styles with animations/transitions */

/* Effect 1: Fade in and scale up */
.md-effect-1 {
  .md-content {
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.md-show {
  &.md-effect-1 {
    .md-content {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
      opacity: 1;
    }
  }
}



  .md-modal {
    .md-content {
      .content {
        position: relative;
        .mdi-close {
          position: absolute;
          right: 30px;
          top:20px;
          color:$color;
          cursor:pointer;
        }
        iframe {
          width: 100%;
          height: 560px;
        }
      }
    }
  }
