.wrapper {
  &.pricing {
    .main-block {
      .container {
        .display-flex {
          .plans {
            width: 353px;
            .img-plan {
              position: relative;
              img {
                width: 100%;
              }
              .back-color {
                position: absolute;
                height: 95px;
                background-color: rgba(221,89,49,0.4);
                bottom: 0;
                width: 100%;
                text-align: right;
                .text-plan {
                bottom: 0;
                right: 0;
                padding: 25px;
                color: #ffffff;
                .text-p {
                  font-size: 25px;
                  text-transform: uppercase;
                }
              }
            }
          }
            .description {
              background: #f5f5f4;
              padding: 25px;
              p {
                font-size: 15px;
                line-height: 25px;
                padding-bottom: 30px;
              }
              h4, h5, h3{
                font-size: 17px;
                display: inline-block;
                p {
                  display: inline-block;
                }
              }
              .button {
                margin-top: 40px;
                margin-bottom: 30px;
              }
            }
          }
        }
      }
    }
  }
}