@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 1366px) {
  .pic{
    .img-hover {
      .we-love {
        .comment {
          line-height: 20px;
          .avatar-comment {
            padding-bottom: 15px;
          }
          span {
            font-size: 15px;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .amenities-block{
    &.display-flex {
      justify-content: space-around;
    }
  }
  .contacts {
    .get-in-touch {
      &.flex-row {
        .block-2 {
          padding: 32px 0;
        }
      }
    }
  }
  .left-fb-block {
    float:none;
    text-align: center;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
  }
  .wrapper {
    &.main {
      .main-block {
        .main-nav {
          &.responsive-nav {
            background: black;
          }
        }
      }
    }
    &.invitation {
      .main-block {
        .container {
          .add-friends {
            .pic-invite {
             display: none;
            }
          }
        }
      }
    }
  }
  #menu-toggle {
    display: block;
  }
  .main-nav {
    .container {
      .nav-top {
        float: none;
        position: static;
        .navt {
          display: none;
          position: absolute;
          top: 100px;
          width: 100%;
          left:0;
          background: white;
          z-index: 2;
          line-height: 70px;
          box-shadow:-3px -4px 5px -5px rgba(0, 0, 0, 0.3);
          -webkit-box-shadow:-3px -5px 5px -5px rgba(0, 0, 0, 0.3);
          li {
            transition:0.5s;
            display: block;
            &:last-child {
              box-shadow: -3px 2px 3px rgba(0, 0, 0, 0.3);
              -webkit-box-shadow: -3px 2px 3px rgba(0, 0, 0, 0.3);
            }
            &:nth-child(odd){
              background: #FCFCFB;
            }
            .link, .last-line {
              border: 0;
              margin: 0 auto;
              display: block;
              padding: 0 20px;
              width: 970px;
              &:hover {
                &:before {
                  content: '';
                  height: 0;
                }
              }
            }
            &:hover {
              background: #dd5931;
              a, .link.active {
                color:white;
              }
            }
            .link.active {
              color: #dd5931;
            }
          }
          .blog {
            border:0;
            margin: 0 auto;
            &:hover {
              background: #dd5931;
              color:white;
            }
          }
        }
        .open + .navt{
          display: block;
        }
        &.main-page-nav {
          .navt {
            display: none;
            position: absolute;
            top: 100px;
            width: 100%;
            left:0;
            background: black;
            z-index: 2;
            line-height: 70px;
            box-shadow:-3px -4px 5px -5px rgba(0, 0, 0, 0.9);
            -webkit-box-shadow:-3px -5px 5px -5px rgba(0, 0, 0, 0.9);
            li {
              transition:0.5s;
              display: block;
              &:hover {
                background: transparent;
              }
              &:last-child {
                box-shadow: -3px 2px 3px rgba(232,232,232,1);
                -webkit-box-shadow: -3px 2px 3px rgba(232,232,232,1);
              }
              &:nth-child(odd){
                background: transparent;
              }
              .link {
                &:hover {
                  background: transparent;
                }
              }
              &:hover {
                background:#dd5931 ;
                a, .link.active {
                  color:white;
                }
              }
              .last-line {
                &:hover {
                  background:transparent ;
                }
              }
            }
            .blog {
              &:hover {
                color:white;
                background:#dd5931 ;
              }
            }
          }
          .open + .navt{
            display: block;
          }
        }
      }
    }
  }
  .text-upercase {
    font-size: 20px;
  }
  .wrapper {
    .main-block {
      .main-info {
        .local-com {
          h1,h2 {
            font-size: 50px;
            line-height: 50px;
            margin-bottom: 15px;
          }
          .text-center {
            font-size: 15px;
          }
        }
      }
    }
    &.pricing {
      .main-block {
        .container {
          .display-flex {
            .plans {
              margin-bottom: 10px;
              width: 100%;
              .img-plan {
                float: left;
               height: auto;
                width: 40%;
                img {
                  width: 100%;
                  height: 100%;
                }
                .back-color {
                  .text-plan {
                    .text-p {
                      font-size: 17px;
                    }
                  }
                }
              }
              .description {
                width: 100%;
                padding: 0;
                .block-responsive {
                  padding: 20px;
                  float: left;
                  width: 60%;
                  min-height: 445px;
                p {
                  font-size: 15px;
                  line-height: 22px;
                  padding-bottom: 10px;
                  &:last-child {
                    padding-bottom: 0;
                  }
                }
                .btn-center {
                  &.ro {
                    .button {
                      margin-top: 25px;
                    }
                  }
                }
                .button {
                  margin-top: 17px;
                  margin-bottom: 0;
                  }
                }
              }
            }
          }
        }
      }
    }
    &.booking {
      .main-block {
        .container {
          .back-image {
            .booking-form {
              .form {
                width: auto;

              }
            }
          }
        }
      }
    }
    &.invitation {
      .main-block {
        .container {
          .add-friends {
            .number-block {
              font-size: 13px;
              .block-n {
                &:not(:last-child) {
                  &:after {
                    top:8px;
                    height: 2px;
                  }
                }
              }
            }
          }
        }
        .form-invitation {
          .container {
            .form-invite {
              .contacts-invite {
                .form-block {
                  .input-style {
                    font-size: 15px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .gallery {
    //.gallery-line {
    //  height: 180px;
    //  .img1, .img2, .img3, .img4 {
    //    height: 180px;
    //  }
    //}
  }
  .case-study {
    .container {
      .right-block {
        width: 47%;
        .right-info {
          width: 100%;
          .logo {
            height: 45px;
            img {
              height: 40px;
            }
          }
          .right-header {
            font-size: 35px;
            &:before {
              width: 85px;
            }
          }
          p {
            margin-top: 10px;
          }
        }
      }
    }
  }
  .img-hover{
    &:hover {
      .we-love {
        .avatar {
          width: 95px;
          height: 95px;
          margin-right: 15px;
        }
      }
    }
  }
}

@media (max-width: 1074px) {
  .wrapper {
    &.thankyou {
      .main-block {
        .container {
          &.new-page {
            width: 80%;
            .pages {
              .page-name{
                font-size: 20px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .gallery {
    &.members-gallery {
      .gallery-line {
        .img4 {
          background-position: 20% 63%;
        }
      }
    }
  }
  .pic{
    width: 50%;
    .img-hover {
      .we-love {
        .avatar {
          width: 80px;
          height: 80px;
        }
        .comment {
          span {
            font-size: 15px;
          }
        }
      }
    }
  }
  .wrapper {
    &.amenities {
      .main-block {
        .blocks {
          .container {
            .display-flex {
              .flex-block {
                width: 310px;
              }
             &.ru-block {
               .text-anvio {
                 font-size: 21px;
               }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .contacts {
    .get-in-touch {
      &.flex-row {
        .block-2 {
          .one-line {
            a {
              width: 30px;
              height: 30px;
              text-align: center;
              line-height: 30px;
            }
          }
        }
      }
    }
  }
  .video-media {
    &.display-flex {
      justify-content: space-around;
    }
    .media-gallery {
      width: 45%;
      margin-bottom: 30px;
    }
  }
  .booking-form {
    #mc_embed_signup {
      width: auto;
      .heading-contact {
        font-size: 20px;
      }
      .mc-field-group {
        label {
          font-size: 16px;
          padding-top: 10px;
        }
      }
    }
  }

  .main-nav {
    .container {
      .nav-top {
        .navt {
          li {
            .link, .last-line {
              width: 750px;
            }
          }
        }
      }
    }
  }
  .footer-black {
    .container {
      .left-footer {
        float: none;
        text-align: center;
      }
      .right-footer {
        display: none;
      }
    }
  }
  .case-study {
    .container {
      .left-block {
        float:none;
        margin: 0 auto;
        width: 90%;
        .mockup {
          margin-bottom: 0;
        }
      }
      .right-block {
        float:none;
        width: 100%;
        text-align: center;
        height: auto;
        .right-info {
          width: 100%;
          top:unset;
          transform: unset;
          position: unset;
          margin-top: 15px;
          margin-bottom: 30px;
        }
      }
    }
  }
  .projects {
    min-height: 200px;
    .container {
      .display-flex {
        min-height: 200px;
        .project-block {
          width: 210px;
          img {
            width: 50%;
          }
          .text-anvio {
            font-size: 20px;
          }
        }
      }
    }
  }
  .wrapper {
    &.contact {
      .main-block {
        min-height: 900px;
        .container {
          .map-style {
           height: 200px;
            width: 100%;
          }
          .input-field {
            margin:auto;
            top: auto;
            height: 700px;
            bottom: 0;
            right:0;
            width: 100%;
          }
        }
      }
    }
    &.pricing {
      .main-block {
        .container {
          .display-flex {
            //display: unset;
            .plans {
              .img-plan {
               height: auto;
                margin-right: 20px;
                margin-bottom: 10px;
              }
              .description {
                .block-responsive {
                  width: 100%;
                  height: auto;
                  float:none;
                  .button {
                    margin-top: 17px;
                    margin-bottom: 15px;
                  }
                }
              }
            }
          }
        }
      }
    }
    &.booking {
      .main-block {
        .container {
          .back-image {
            &:before {
              width: 100%;
            }
            .booking-form {
              width: 100%;
              .form {
                width: auto;
              }
            }
          }
        }
      }
    }
    &.invitation {
      .main-block {
        .form-invitation {
          .container {
            .form-invite {
              .contacts-invite {
                .form-block {
                  &.trash {
                    width: 4%;
                  }
                }
              }
            }
          }
        }
        .container {
          .add-friends {
            margin-top: 20px;
            .text-invite {
              width: 100%;
              font-size: 25px;
              line-height: 30px;
            }
            .number-block {
              font-size: 13px;
              .block-n {
                padding-bottom: 20px;
                padding-right: 0;
                display: block;
                &:last-child {
                  padding-bottom: 0;
                }
                &:not(:last-child) {
                  &:after {
                    display:none;
                  }
                }
              }
            }
          }
        }
        .form-invitation {
          .container {
            .heading-contact {

            }
            .form-invite {
              .contacts-invite {
                width: 100%;
              }
            }
          }
        }
      }
    }
    &.notfound-page {
      .main-block {
        &.notfound {
          .container {
            h1 {
           font-size: 65px;
            }
          }
        }
      }
    }
  }
  .gallery {
    &.members-gallery, &.connect-us {
    .gallery-line {
      margin-top:  0;
      }
    }
  }
}

@media (max-width: 720px) {
  .contacts {
    .get-in-touch {
      min-height: 120px;
      &.flex-row {
        .block-1 {
          display: none;
        }
        .block-2 {
          padding: 20px;
          &.flex-item-4 {
            flex: 0 0 50%;
            max-width: 50%;
          }
          .one-line {
            a {
              width: 40px;
              height: 40px;
              text-align: center;
              line-height: 40px;
            }
          }
        }
        .block-3 {
          padding: 20px;
          &.flex-item-4 {
            flex: 0 0 50%;
            max-width: 50%;
          }
        }
      }
    }
  }
  .wrapper {
    &.invitation {
      .main-block {
        .form-invitation {
          .container {
            .form-invite {
              .contacts-invite {
                .form-block {
                  width: 35%;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 680px) {
  .wrapper {
    &.invitation {
      .main-block {
        .form-invitation {
          .container {
            .form-invite {
              .contacts-invite {
                .form-block {
                  span {
                    font-size: 22px;
                  }
                  .input-style {
                    font-size: 12px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .fb-container {
    display: none;
  }
  .fb-container-responsive {
    display: block;
    .left-fb-block {
      float: none;
      margin: 0;
      display: flex;
      justify-content: center;
      iframe[style] {
        width: 66% !important;
      }
    }
  }
}

@media (max-width: 768px) {
  .main-nav {
    .container {
      .nav-top {
        .navt {
          li {
            .link, .last-line {
              width: auto;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 736px) {
  //.gallery {
  //  display: none;
  //}
  .main-nav {
    .container {
      .nav-top {
        .navt {
          line-height: 61px;
          li {
            .link, .last-line {
              font-size: 15px;
              &:hover {
                background: none;
                color: unset;
              }
              &.active {
                color: #dd5931;
                &:hover {
                  color: unset;
                }
              }
            }
            &:hover {
              background: none;
              color: unset;
            }
            a, .link.active {
              &:hover {
                color: #dd5931;
              }
            }
            &:nth-child(odd){
              background:#FCFCFB;
            }
          }
          .blog {
            background: #dd5931;
            font-size: 15px;
          }
        }
        &.main-page-nav {
          .navt {
            li {
              &:hover {
                background: unset;
              }
              .link {
                &:hover {
                  background: unset;
                }
              }
              &:hover {
                background:unset;
                color:unset;
              }
              .last-line {
                &:hover {
                  background:unset;
                }
              }
            }
            .blog {
                color:white;
                background:#dd5931 ;
            }
          }
        }
      }
    }
  }
  .wrapper {
    &.members {
      .main-block {
        .case-study {
          .container {
            .right-block {
              .right-info {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
    &.pricing {
      .main-block {
        .container {
          .display-flex {
            .plans {
              &:last-child {
                margin-bottom: 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 732px) {
  .wrapper {
    .container {
      .partners {
        .sweden {
          img {
            height: 75px;
          }
        }
        .pycoding {
          img {
            height: 20px;
          }
        }
        .itech {
          img {
            height: 60px;
          }
        }
        .mitoc {
          img {
            height: 35px;
          }
        }
        .usaid {
          img {
            height: 45px;
          }
        }
      }
    }
    &.booking {
      .main-block {
        .container {
          .back-image {
            .booking-form {
              #mc_embed_signup {
                width:auto;
                .heading-contact {
                  font-size: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 618px) {
  .wrapper {
    &.thankyou {
      .main-block {
        .container {
          &.new-page {
            width: auto;
            .pages {
             margin: 0 auto;
              .page-name {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 645px) {
  .contacts {
    .get-in-touch {
      &.flex-row {
        flex-wrap: wrap;
        .block-1 {
          display: none;
        }
        .block-2 {
          text-align: center;
          padding: 20px 0;
          &.flex-item-4 {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
        .block-3 {
          padding: 0;
          .right-side {
            float:none;
            margin-bottom: 20px;
          }
          text-align: center;
          &.flex-item-4 {
            flex: 0 0 100%;
            max-width: 100%;
          }
        }
      }
    }
  }
  #video {
    height: 300px;
  }
  .image {
    &.video {
      height: 300px;
    }
  }
  .new-page{
    .pages {
      .page-name {
        font-size: 34px;
      }
      .text-page {
        font-size: 15px;
      }
    }
  }
  .wrapper {
    &.amenities {
      .main-block {
        .blocks {
          .container {
            .display-flex {
              padding-top: 45px;
              justify-content: center;
              .flex-block {
                height: 220px;
                .text-anvio {
                  margin-top: 10px;
                  margin-bottom: 5px;
                  font-size: 23px;
                }
              }
            }
          }
        }
      }
    }
  }
  .circle1, .circle2, .circle3 {
    width: 140px;
    height: 140px;
  }
  .new-heading {
    padding-top: 0;
    .pages {
      .heading {
        font-size: 30px;
      }
    }
  }
  .projects {
    .container {
      .display-flex {
        .project-block {
          font-size: 25px;
        }
      }
    }
  }
  .case-study {
    .container {
      .right-block {
        .right-info {
          .logo {
            img {
              height: 40px;
            }
          }
         .right-header {
           font-size: 30px;
         }
        }
      }
    }
  }
}

@media (max-width: 639px) {
  .video-media {
    .media-gallery {
      width: 80%;
      .block-link {
        .media-title {
          font-size: 18px;
          line-height: 25px;

        }
      }
    }
  }
  .text-upercase {
    text-align: center;
  }
  .wrapper {
    &.main {
      .main-block {
        .main-info {
          height: 670px;
          &.ru-vertion {
            h1,h2 {
              font-size: 50px;
              line-height: 45px;
            }
          }
          .local-com {
            .text-center {
              width: 100%;
            }
          }
        }
      }
    }
    .main-block {
      min-height: 660px;
      .main-info {
        height: 530px;
      }
    }
    .container {
      .partners {
        justify-content: space-around;
        line-height: 90px;
      }
    }
    .main-block {
      .main-info {
        .local-com {
          width: 95%;
          h1,h2 {
            text-align: center;
            font-size: 40px;
            line-height: 40px;
          }
          .text-center {
            text-align: center;
          }
          .more {
            text-align: center;
          }
        }
      }
    }
  }
  //.new-page {
  //  .pages {
  //    width: 90%;
  //  }
  //}
}

@media (max-width: 590px) {
  .wrapper {
    &.notfound-page {
      .main-block {
        &.notfound {
          .container {
            .text-notfound {
              .link-notfound {
                font-size: 35px;
              }
              .links {
                font-size: 20px;
              }
              .location {

              }
            }
          }
        }
      }
    }
  }
  .case-study {
    .container {
      .left-block {
        .mockup {
          .mockup-head {
            h1 {
              color: #3b9ff3;
              font-size: 24px;
              line-height: 40px;
              margin: 0;
              text-align: center;
            }
            .flex-row {
              .flex-item-6 {
                width: 100%;
                &.text-left {
                  text-align: center;
                }
                &.text-right {
                  text-align: center;
                }
                &.self-center {
                  width: 100%;
                  line-height: 37px;
                  text-align: center;
                }
              }
            }
          }
        }
        .mockup {
          margin-bottom: 0;
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .wrapper {
    &.pricing {
      .main-block {
        .container {
          .display-flex {
            .plans {
              width: 90%;
              margin: 10px auto;
              .img-plan {
                margin-right: 0;
                margin-bottom: 0;
                float: none;
                width: 100%;
                .back-color {
                  text-align: right;
                }
                img {
                  width: 100%;
                }
              }
              .description {
                .block-responsive {
                  width: auto;
                }
              }
            }
          }
        }
      }
    }
    &.invitation {
      .main-block {
        .form-invitation {
          .container {
            .form-invite {
              .contacts-invite {
                .form-block {
                  width: 60%;
                  &:nth-child(3) {
                    top: -47px;
                    width: 30%;
                  }
                  &.trash {
                    position: absolute;
                  }
                }
                &.total {
                  .sales {
                    .heading-contact {
                      font-size: 17px;
                    }
                  }
                  .form-block {
                    width: 15%;
                    top:unset;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 498px) {
  .case-study {
    .container {
      .left-block {
        .mockup {
          .mockup-cont {
            .blurry {
              .btn {
                &.btn-primary {
                  font-size: 8px;
                }
              }

            }
          }
        }
      }
    }
  }
}

@media (max-width:450px) {
  .footer-black {
    .container {
      .left-footer {
        text-align: center;
      }
    }
  }
  .wrapper {
    .main-block {
      .main-info {
        .local-com {
          h1,h2 {
            margin-bottom: 20px;
          }
          .more {
            margin-top: 20px;
          }
        }
      }
    }
    &.pricing {
      .main-block {
        .container {
          .display-flex {
            .plans {
              width: auto;
              .img-plan {
                height: auto;
                width: auto;
              }
            }
          }
        }
      }
    }
    .container {
      .partners {
        .usaid {
          img {
            height: 35px;
          }
        }
      }
    }
    &.booking {
      .main-block {
        .container {
          .back-image {
            .booking-form {
              #mc_embed_signup {
                width: 90%;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 422px) {
  .booking-form {
    #mc_embed_signup {
      width: auto;
      .mc-field-group {
        label {
          font-size: 13px;
        }
      }
    }
  }
}

@media (max-width: 414px) {
  .wrapper {
    .container {
      .partners {
        .pycoding {
          img {
            height: 20px;
          }
        }
        .itech {
          img {
            height: 63px;
          }
        }
        .mitoc {
          img {
            height: 41px;
          }
        }
        .usaid {
          img {
            height: 45px;
          }
        }
      }
    }
    &.booking {
      .main-block {
        .container {
          .back-image {
            .booking-form {
              .g-recaptcha {
                transform:scale(0.85);
                -webkit-transform:scale(0.85);
                transform-origin:0 0;-webkit-transform-origin:0 0;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .wrapper {
    &.booking {
      .main-block {
        .container {
          .back-image {
            .booking-form {
              &.ru-booking {
                #mc_embed_signup {
                  .mc-field-group {
                    &.input-group {
                      ul {
                        li {
                          margin-right: 3px;
                          &:last-child {
                            margin-right: 0;
                          }
                        }
                      }
                    }
                    &.ru {
                      label {
                        font-size: 13px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 320px) {
  .footer-black {
    .container {
      .left-footer {
        a {
          margin-left: 8px;
        }
      }
    }
  }
  .wrapper {
    &.contact {
      .main-block {
        .container {
          .input-field {
            .hole-form {
             width: 95%;
              .heading-contact {
                font-size: 22px;
              }
              .input-style {
                font-size: 16px;
              }
              .text-style {
                font-size: 16px;
              }
            }
          }
        }
      }
    }

    &.main {
      .main-block {
        .main-info {
          &.ru-vertion {
            h1,h2 {
              font-size: 40px;
              line-height: 40px;
            }
          }
          .local-com {
            .more {
              .more-about {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
    .g-recaptcha {
        transform:scale(0.91);
        -webkit-transform:scale(0.91);
        transform-origin:0 0;-webkit-transform-origin:0 0;
     }
      &.pricing {
        .main-block {
          .container {
            .display-flex {
              .plans {
                .img-plan {
                  .back-color {
                    .text-plan {
                     .text-p {
                       font-size:20px;
                      }
                    }
                  }
                }
                .description {
                  .block-responsive {
                    .btn-center {
                      a {
                        font-size: 13px;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    .container {
      .partners {
        line-height: 70px;
        .pycoding {
          img {
            height: 17px;
          }
        }
        .itech {
          img {
            height: 56px;
          }
        }
        .mitoc {
          img {
            height: 35px;
          }
        }
        .usaid {
          img {
            height: 37px;
          }
        }
      }
    }
    &.booking {
      .main-block {
        .container {
          .back-image {
            .booking-form {
              .g-recaptcha {
                transform:scale(0.85);
                -webkit-transform:scale(0.85);
                transform-origin:0 0;-webkit-transform-origin:0 0;
              }
            }
          }
        }
      }
    }
    &.invitation {
      .main-block {
        .container {
          .add-friends {
            .text-invite {
              font-size: 20px;
              }
            }
          }
        .form-invitation {
          .container {
            .form-invite {
              .contacts-invite {
                .form-block {
                  width: auto;
                }
                .button {
                  &.form-btn {
                    font-size: 15px;
                  }
                }
              }
              .sales {
                .heading-contact {
                  font-size: 16px;
                }
              }
            }
          }
        }
      }
    }
  }
  .case-study {
    .container {
      .left-block {
        .mockup {
          .logo-img {
            height: 30px;
          }
          .mockup-head {

            h1 {
              color: #3b9ff3;
              font-size: 24px;
              line-height: 40px;
              margin: 0;
              text-align: center;
            }
            .flex-row {
              .flex-item-6 {
                width: 100%;
                &.text-left {
                  text-align: center;
                }
                &.text-right {
                  text-align: center;
                }
                &.self-center {
                  width: 100%;
                  line-height: 37px;
                  text-align: center;
                }
              }
            }
          }
        }
      }
      .right-block {
        min-height: 850px;
      }
    }
  }
  .new-page {
    .pages {
      .page-name {
        font-size: 26px;
      }
      .text-page{
        font-size: 15px;
      }
    }
  }
  .footer-black {
    .container {
      .left-footer {
        &.ru-text {
          font-size: 12px;
        }
      }
    }
  }
}
