@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (max-width: 1200px) {
  .wrapper {
    .main-block {
      .main-info {
        .local-com {
          h1,h2 {
            font-size: 50px;
            line-height: 50px;
            margin-bottom: 15px;
          }
          .text-center {
            font-size: 15px;
          }
        }
      }
    }
    &.pricing {
      .main-block {
        .container {
          .display-flex {
            .plans {
              margin-bottom: 10px;
              width: 100%;
              .img-plan {
                float: left;
                height: 445px;
                img {
                  width: auto;
                  height: 100%;
                }
              }
              .description {
                width: 100%;
                padding: 0;
                .block-responsive {
                  padding: 20px;
                  float: left;
                  width: 52%;
                  height: 445px;
                p {
                  font-size: 15px;
                  line-height: 22px;
                  padding-bottom: 10px;
                }

                .button {
                  margin-top: 17px;
                  margin-bottom: 15px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .gallery {
    .gallery-line {
      height: 180px;
      .img1, .img2, .img3, .img4 {
        height: 180px;
      }
    }
  }
  .case-study {
    .container {
      .right-block {
        width: 47%;
        .right-info {
          width: 100%;
          .logo {
            img {
              height: 60px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 992px) {
  .pic{
    width: 50%;
    .img-hover {
      .we-love {
        .avatar {
          width: 80px;
          height: 80px;
        }
        .comment {
          span {
            font-size: 15px;
          }
        }
      }
    }
  }

  .wrapper {
    &.main {
      .main-block {
        .main-nav {
          &.responsive-nav {
            background: black;
          }
        }
      }
    }
  }
  #menu-toggle {
    display: block;
  }
.main-nav {
  .container {
    .nav-top {
      float: none;
      position: static;
      .navt {
        display: none;
        position: absolute;
        top: 100px;
        width: 100%;
        left:0;
        background: white;
        z-index: 2;
        line-height: 70px;
        box-shadow:-3px -4px 5px -5px rgba(0, 0, 0, 0.3);
          -webkit-box-shadow:-3px -5px 5px -5px rgba(0, 0, 0, 0.3);
        li {
          transition:0.3s;
          display: block;
          &:last-child {
            box-shadow: -3px 2px 3px rgba(0, 0, 0, 0.3);
            -webkit-box-shadow: -3px 2px 3px rgba(0, 0, 0, 0.3);
          }
          &:nth-child(odd){
            background: #FCFCFB;
          }
          .link, .last-line {
            border: 0;
            width: 750px;
            margin: 0 auto;
            display: block;
            padding: 0 20px;

            &:hover {
              &:before {
                content: '';
                height: 0;
              }
            }
            &.active {
              color: #dd5931;
            }

          }
          &:hover {
            background: #dd5931;

            a, .link.active {
              color:white;
            }
          }
        }
        .blog {
          border:0;
          width: 765px;
          margin: 0 auto;
          &:hover {
            background: #dd5931;
            color:white;
          }
        }
      }

      .open + .navt{
        display: block;
      }
      &.main-page-nav {
        .navt {
          display: none;
          position: absolute;
          top: 100px;
          width: 100%;
          left:0;
          background: black;
          z-index: 2;
          line-height: 70px;
          box-shadow:-3px -4px 5px -5px rgba(0, 0, 0, 0.9);
          -webkit-box-shadow:-3px -5px 5px -5px rgba(0, 0, 0, 0.9);
          li {
            transition:0.5s;
            display: block;
            &:hover {
              background: transparent;
            }
            &:last-child {
              box-shadow: -3px 2px 3px rgba(232,232,232,1);
              -webkit-box-shadow: -3px 2px 3px rgba(232,232,232,1);
            }
            &:nth-child(odd){
              background: transparent;
            }
            .link {
              &:hover {
                background: transparent;
              }
            }
            &:hover {
              background:#dd5931 ;
              a, .link.active {
                color:white;
              }
            }
            .last-line {
              &:hover {
                background:transparent ;
              }
            }
          }
          .blog {
            &:hover {
              color:white;
              background:#dd5931 ;
            }
          }
        }
        .open + .navt{
          display: block;
        }
      }
      .language {
        right:15px;
      }
    }
  }
}

  .footer-black {
    .container {
      .left-footer {
        float: none;
        text-align: center;
      }
      .right-footer {
        display: none;
      }
    }
  }
  .contacts {
    .get-in-touch {
      .block-1 {
        width: 20%;
        line-height: 80px;
        img {
          height: 75px;
        }
      }
      .block-2 {
        width: 80%;
        padding:0;
        .connect-us {
          display: none;
        }
      }
      .block-3 {
        width: 50%;
        text-align: left;
        .connect-us {
          padding-top: 15px;
        }
        .one-line {
          display: inline-block;
          .fa-phone {
            padding-left: 10px;

          }
          a {
            padding-right: 10px;
          }
        }
      }
      .block-4 {
        width: 50%;
        text-align: left;
        .connect-us {
          padding-top: 15px;
        }
        .one-line {
          display: inline-block;
        }
      }
    }
  }

  .case-study {
    .container {
      .left-block {
        float:none;
        margin: 0 auto;
        width: 90%;
        .mockup {
          margin-bottom: 0;
        }
      }
      .right-block {
        float:none;
        width: 100%;
        text-align: center;
        min-height: 630px;
        .right-info {
          width: 100%;
        }
      }
    }
  }
  .projects {
    min-height: 200px;
    .container {
      .display-flex {
        min-height: 200px;
        .project-block {
          width: 210px;
          img {
            width: 50%;
          }
          .text-anvio {
            font-size: 20px;
          }
        }
      }
    }
  }
  .wrapper {
    &.contact {
      .main-block {
        min-height: 900px;
        .container {
          .map-style {
           height: 200px;
            width: 100%;
          }
          .input-field {
            margin:auto;
            top: auto;
            height: 700px;
            bottom: 0;
            right:0;
            width: 100%;
          }
        }
      }
    }
    &.pricing {
      .main-block {
        .container {
          .display-flex {
            display: unset;
            .plans {
              .img-plan {
               height: auto;
                margin-right: 20px;
                margin-bottom: 10px;
                .back-color {
                  text-align: left;
                }
              }

              .description {
                .block-responsive {
                  width: 100%;
                  height: auto;
                  float:none;
                  .button {
                    margin-top: 17px;
                    margin-bottom: 15px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .gallery {
    &.members-gallery {
    .gallery-line {
      margin-top:  0;
      }
    }
  }
}

@media (max-width: 732px) {
  .wrapper {
    .container {
      .partners {
        .pycoding {
          img {
            height: 20px;
          }
        }
        .itech {
          img {
            height: 60px;
          }
        }
        .mitoc {
          img {
            height: 35px;
          }
        }
        .usaid {
          img {
            height: 45px;
          }
        }
      }
    }
  }
}

@media (max-width: 645px) {
  .wrapper {
    &.amenities {
      .main-block {
        .blocks {
          .container {
            .display-flex {
              justify-content: center;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 639px) {
  .wrapper {
    &.main {
      .main-block {
        .main-info {
          height: 670px;
          .local-com {
            .text-center {
              width: 100%;
            }
          }
        }
      }
    }
    .main-block {
      min-height: 660px;
      .main-info {
        height: 530px;
      }
    }
    .container {
      .partners {
        justify-content: space-around;
        line-height: 90px;
      }
    }
    .main-block {
      .main-info {
        .local-com {
          width: 95%;
          h1,h2 {
            text-align: center;
            font-size: 40px;
            line-height: 35px;
          }
          .text-center {
            text-align: center;
          }
          .more {
            text-align: center;
          }
        }
      }
    }
  }
  .new-page {
    .pages {
      width: 90%;
    }
  }
}

@media (max-width: 590px) {
  .contacts {
    .get-in-touch {
      padding-top: 15px;
      padding-bottom: 20px;
      .block-1 {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
      }
      .block-2 {
        width: 100%;
        text-align: center;

        .connect-us {
          display: none;
        }
      }
      .block-3 {
        width: 100%;
        text-align: center;
      }
      .block-4 {
        width: 100%;
        text-align: center;
      }
    }
  }
  .case-study {
    .container {
      .left-block {
        .mockup {
          .mockup-head {

            h1 {
              color: #3b9ff3;
              font-size: 24px;
              line-height: 40px;
              margin: 0;
              text-align: center;
            }
            .flex-row {
              .flex-item-6 {
                width: 100%;
                &.text-left {
                  text-align: center;
                }
                &.text-right {
                  text-align: center;
                }
                &.self-center {
                  width: 100%;
                  line-height: 37px;
                  text-align: center;
                }
              }
            }
          }
        }
        .mockup {
          margin-bottom: 0;
        }
      }
      .right-block {
        min-height:820px;
        margin-bottom: 20px;
      }
    }
  }
  .new-page {
    .pages {
      .page-name {
        font-size: 40px;
      }
    }
  }
}

@media (max-width: 550px) {
  .wrapper {
    &.pricing {
      .main-block {
        .container {
          .display-flex {
            .plans {
              width: 90%;
              margin: 10px auto;
              .img-plan {
                margin-right: 0;
                margin-bottom: 0;
                float: none;
                .back-color {
                  text-align: right;
                }
                img {
                  width: 100%;
                }
              }
              .description {
                .block-responsive {
                  width: auto;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px){
  .pic {
    width: 100%;
    .img-hover {
      .we-love {
        .avatar {
          width: 90px;
          height: 90px;
        }
      }
    }
  }
  .gallery {
    .gallery-line {
      .img1, .img2, .img3, .img4 {
        height: 300px;
      }
    }
  }
}

@media (max-width:450px) {
  .contacts {
    .get-in-touch {
      .block-3 {
        width: 100%;
        text-align: center;
      }
      .block-4 {
        width: 100%;
        text-align: center;
      }
    }
  }
  .footer-black {
    .container {
      .left-footer {
        text-align: center;
      a {
        display: none;
       }
      }
    }
  }
  .wrapper {
    .main-block {
      .main-info {
        .local-com {
          h1,h2 {
            margin-bottom: 20px;
          }
          .more {
            margin-top: 20px;
          }
        }
      }
    }
    &.pricing {
      .main-block {
        .container {
          .display-flex {
            .plans {
              width: auto;
              .img-plan {
                height: auto;
              }
            }
          }
        }
      }
    }
    .container {
      .partners {
        .usaid {
          img {
            height: 35px;
          }
        }
      }
    }
  }
}

@media (max-width: 414px) {
  .wrapper {
    .container {
      .partners {
        .pycoding {
          img {
            height: 20px;
          }
        }
        .itech {
          img {
            height: 63px;
          }
        }
        .mitoc {
          img {
            height: 41px;
          }
        }
        .usaid {
          img {
            height: 45px;
          }
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .case-study {
    .container {
      .right-block {
        min-height: 770px;
        .right-info {
          .right-header {
            font-size: 45px;
            &:before {
              width: 100px;
            }
          }
          .logo {
            height: 60px;
            img {
              height: 50px;
            }
          }
        }
      }
    }
  }

}

@media (max-width: 320px) {
  .wrapper {
    &.contact {
      .main-block {
        .container {
          .input-field {
            .hole-form {
             width: 95%;
            }
          }
        }
      }
    }

    &.main {
      .main-block {
        .main-info {
          height: 530px;
          .local-com {
            .more {
              .more-about {
                font-size: 16px;
              }
            }
          }
        }
      }
    }
    .g-recaptcha {
        transform:scale(0.91);
        -webkit-transform:scale(0.91);
        transform-origin:0 0;-webkit-transform-origin:0 0;
     }

  }
  .case-study {
    .container {
      .left-block {
        .mockup {
          .logo-img {
            height: 30px;
          }
          .mockup-head {

            h1 {
              color: #3b9ff3;
              font-size: 24px;
              line-height: 40px;
              margin: 0;
              text-align: center;
            }
            .flex-row {
              .flex-item-6 {
                width: 100%;
                &.text-left {
                  text-align: center;
                }
                &.text-right {
                  text-align: center;
                }
                &.self-center {
                  width: 100%;
                  line-height: 37px;
                  text-align: center;
                }
              }
            }
          }
        }
      }
      .right-block {
        min-height: 850px;
        .right-info {
          .logo {
            img {
              height: 50px;
            }
          }
        }
      }
    }
  }
  .new-page {
    .pages {
      .page-name {
        font-size: 30px;
      }
      .text-page{
        font-size: 15px;
      }
    }
  }
}
