{% extends 'layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('@css/gallery.min.css') }}" />
{% endblock %}

{% block body %}
    <div class="jumbotron">
    </div>

{% endblock %}

{% block js %}
    <script src="{{ asset('@js/gallery.min.js') }}"></script>
{% endblock %}
