<div class="parallax-window" data-parallax="scroll" data-image-src="{{asset('@img/events.jpg')}}">
    <section class="image">
        <div class="page">
            <div class="text-page-name">
                <h1 class="page-name scroll-title">{{page}}</h1>
            </div>
        </div>
    </section>
</div
    