{% if not hideParallax %}
   <div class="parallax-window" data-parallax="scroll" data-image-src="{{ asset('@' ~ imagePath ) }}">
{% endif %}
    <section class="image">
        <div class="page">
            <div class="text-page-name">
                <h1 class="page-name scroll-title">{{page}}</h1>
            </div>
        </div>
    </section>
{% if not hideParallax %}
    </div>
{% endif %}
