<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel="icon" href="{{ asset('@img/favicon.png') }}" type="image/png" />
        {% block css %}{% endblock %}
    </head>
    <body>
        {# Header #}
        {% if routeName not in ['/', '/404', '/ru', '/ro', '/ru/404', '/ro/404'] %}
            {% include 'en/header.twig' %}
            {% include 'en/menu.twig' %}
        {% endif %}

        {# Content #}
        {% block body %}{% endblock %}

        {# Footer #}
        {% if routeName != '/404' %}
            {% include 'en/prefooter.twig' %}
            {% include 'en/footer.twig' %}
        {% endif %}
    </body>
    {% block js %}{% endblock %}
</html>
