<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel="icon" href="{{ asset('@img/favicon.png') }}" type="image/png" />
        {% block css %}{% endblock %}
    </head>
    <body>
        {% if routeName not in ['/', '/404error'] %}
            {% include 'header.twig' %}
            {% include 'menu.twig' %}
        {% endif %}
        {% block body %}{% endblock %}

        {% if routeName != '/404error' %}
            {% include 'footer.twig' %}
        {% endif %}
    </body>
    {% block js %}{% endblock %}
</html>
