<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
<<<<<<< HEAD
=======
  <!-- <link href="../../css/bootstrap.min.css" rel="stylesheet"> -->
>>>>>>> 2f90f6ed29aa64468bb4bfa6f4fa216d200554ec
        <title>{{ title }}</title>

        {% block css %}{% endblock %}

    </head>
    <body>
        {% include 'menu.twig' %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </div>
        {% block js %}{% endblock %}
    </body>
    <footer>
      {% include 'footer.twig' %}
    </footer>
    {% block js %}{% endblock %}
</html>
