<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel="icon" href="{{ asset('@img/favicon.png') }}" type="image/png" />
        {% block css %}{% endblock %}
        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-KMNVJZZ');</script>
        <!-- End Google Tag Manager -->
    </head>
    <body>
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KMNVJZZ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        {# Header #}
        {% if routeName in ['/pricing', '/events', '/members', '/media', '/gallery', '/contact', '/tour', '/thank-you', '/terms'] %}
            {% include 'en/header.twig' %}
            {% include 'en/menu.twig' %}
        {% elseif routeName in ['/ru/pricing', '/ru/events', '/ru/members', '/ru/media', '/ru/gallery', '/ru/contact', '/ru/tour', '/ru/thank-you', '/ru/terms'] %}
            {% include 'ru/header.twig' %}
            {% include 'ru/menu.twig' %}
        {% elseif routeName in ['/ro/pricing', '/ro/events', '/ro/members', '/ro/media', '/ro/gallery', '/ro/contact', '/ro/tour', '/ro/thank-you', '/ro/terms'] %}
            {% include 'ro/header.twig' %}
            {% include 'ro/menu.twig' %}
        {% endif %}

        {# Content #}
        {% block body %}{% endblock %}

        {# Footer #}
        {% if routeName in ['/', '/pricing', '/events', '/members', '/media', '/gallery', '/contact', '/tour', '/thank-you'] %}
            {% include 'en/prefooter.twig' %}
            {% include 'en/footer.twig' %}
        {% elseif routeName in ['/ru', '/ru/pricing', '/ru/events', '/ru/members', '/ru/media', '/ru/gallery', '/ru/contact', '/ru/tour', '/ru/thank-you'] %}
            {% include 'ru/prefooter.twig' %}
            {% include 'ru/footer.twig' %}
        {% elseif routeName in ['/ro', '/ro/pricing', '/ro/events', '/ro/members', '/ro/media', '/ro/gallery', '/ro/contact', '/ro/tour', '/ro/thank-you'] %}
            {% include 'ro/prefooter.twig' %}
            {% include 'ro/footer.twig' %}
        {% endif %}
    </body>
    {% block js %}{% endblock %}
</html>
