{# Common menu #}
<nav class="navbar navbar-default">
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
   <nav class="my-2 my-md-0 mr-md-3">
     <a class="p-2 text-dark" href="/">Home</a>
     <a class="p-2 text-dark" href="/pricing">PRICING</a>
     <a class="p-2 text-dark" href="/events">EVENTS</a>
     <a class="p-2 text-dark" href="/members">MEMBERS</a>
     <a class="p-2 text-dark" href="/media">MEDIA</a>
     <a class="p-2 text-dark" href="/gallery">GALLERY</a>
     <a class="p-2 text-dark" href="/contact">CONTACT</a>
     <a class="p-2 text-dark" href="https://blog.404.md/">BLOG</a>
     <a class="p-2 text-dark" href="/tour">TOUR</a>
   </nav>
 </div>


    </div>
</nav>
