{% extends 'layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('@css/tour.min.css') }}" />
{% endblock %}

{% block body %}
    <div class="jumbotron">
        <h1>{{ greeting }}</h1>
        <p>This is an example of tour's page.</p>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('@js/tour.min.js') }}"></script>
{% endblock %}
