{% extends 'layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('@css/tour.min.css') }}" />
{% endblock %}

{% block body %}
    <div class=" container new-page">
        <div class="pages">
            <div class="line"></div>
            <span class="text-page">
                404Moldova is a coworking space for IT businesses and IT people from Moldova. We want to empower local
                community of small companies and skilled individuals to be competitive globally.
            </span>
        </div>
    </div>
    <div class="wrapper booking" itemscope itemprop="mainContentOfPage">
        <section class="main-block">
            <div class="container">
                <div class="back-image">
                    <div class="booking-form">
                        <div id="mc_embed_signup">
                            <h2 class="heading-contact">Schedule a Visit</h2>
                            <div class="indicates-required">
                                <span class="asterisk">*</span>"indicates required"
                            </div>
                            <form id="subscribe-tour-form">
                                <div class="mc-form-group-EMAIL group">
                                    <input type="text" name="EMAIL" placeholder="E-mail">
                                    <span class="highlight"></span>
                                    <div class="mc-error"></div>
                                </div>
                                <div class="mc-form-group-FNAME">
                                    <input type="text" name="FNAME" placeholder="First Name">
                                    <span class="highlight"></span>
                                    <div class="mc-error"></div>
                                </div>
                                <div class="mc-form-group-LNAME">
                                    <input type="text" name="LNAME" placeholder="Last Name">
                                    <span class="highlight"></span>
                                    <div class="mc-error"></div>
                                </div>
                                <div class="mc-form-group-PHONE">
                                    <input type="text" name="PHONE" placeholder="Phone">
                                    <span class="highlight"></span>
                                    <div class="mc-error"></div>
                                </div>
                                <div class="mc-form-group-JOB">
                                    <input type="text" name="JOB" placeholder="Specialization (QA;designer etc.)">
                                    <span class="highlight"></span>
                                    <div class="mc-error"></div>
                                </div>
                                <div class="mc-form-group-VDATE">
                                    {#<span><input name="VDATE" placeholder="MM"></span> /#}
                                    {#<span><input name="VDATE" placeholder="DD"></span> /#}
                                    {#<span><input name="VDATE" placeholder="YYYY"></span>#}

                                    <input type="text" name="VDATE" placeholder="MM/DD/YYYY">
                                    <span class="highlight"></span>
                                    <div class="mc-error"></div>
                                </div>
                                <div class="mc-form-group-MMERGE3">
                                    <input type="text" name="MMERGE3" placeholder="Message">
                                    <span class="highlight"></span>
                                    <div class="mc-error"></div>
                                </div>
                                <div class="mc-form-group-LANG">
                                    <strong>Choose the language you prefer</strong>
                                    <ul>
                                        <li><input type="radio" value="English" name="LANG"><label>English</label></li>
                                        <li><input type="radio" value="Romanian" name="LANG"><label>Romanian</label></li>
                                        <li><input type="radio" value="Russian" name="LANG"><label>Russian</label></li>
                                    </ul>
                                    <div class="mc-error"></div>
                                </div>
                            </form>
                            <button id="submit-form">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('@js/tour.min.js') }}"></script>
{% endblock %}
