{% extends '../layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('@css/gallery.min.css') }}" />
{% endblock %}

{% block body %}
    <div class=" container new-page">
        <div class="pages">
            <div class="line"></div>
            <span class="text-page">
                404Moldova is a coworking space for IT businesses and IT people from Moldova. We want to empower local
                community of small companies and skilled individuals to be competitive globally.
            </span>
        </div>
    </div>
    <div class="wrapper photos-gallery" itemscope itemprop="mainContentOfPage">
        <div class="main-block">
            <div class="container">
                <div class="gallery-block">
                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('@js/gallery.min.js') }}"></script>
{% endblock %}
