{% extends '../layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('@css/tour.min.css') }}"/>
{% endblock %}

{% block body %}
    <div class=" container new-page">
        <div class="pages">
            <div class="line"></div>
            <span class="text-page">
                404Moldova is a coworking space for IT businesses and IT people from Moldova. We want to empower local
                community of small companies and skilled individuals to be competitive globally.
            </span>
        </div>
    </div>
    <div class="wrapper booking" itemscope itemprop="mainContentOfPage">
        <section class="main-block">
            <div class="container">
                <div class="back-image">
                    <div class="booking-form">
                        <div id="mc_embed_signup">
                            <h2 class="heading-contact">Schedule a Visit</h2>
                            <div class="indicates-required">
                                <span class="asterisk">*</span>indicates required
                            </div>
                            <form id="subscribe-tour-form">
                                <div class="mc-form-group-EMAIL group">
                                    <input type="text" class="required" name="EMAIL" id="mce-EMAIL">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="label-form" for="mce-EMAIL">
                                        E-mail
                                        <span class="asterisk">*</span>
                                    </label>
                                    <div class="mc-error">

                                    </div>
                                </div>
                                <div class="mc-form-group-FNAME group">
                                    <input type="text" class="required" name="FNAME" id="mce-FNAME">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="label-form" for="mce-FNAME">
                                        First Name
                                        <span class="asterisk">*</span>
                                    </label>
                                    <div for="mce-FNAME" class="mc-error mce_inline_error">

                                    </div>
                                </div>
                                <div class="mc-form-group-LNAME group">
                                    <input type="text" class="required" name="LNAME" id="mce-LNAME">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="label-form" for="mce-LNAME">
                                        Last Name
                                        <span class="asterisk">*</span>
                                    </label>
                                    <div class="mc-error">

                                    </div>
                                </div>
                                <div class="mc-form-group-PHONE group">
                                    <input type="text" class="required" name="PHONE" id="mce-PHONE">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="label-form" for="mce-PHONE">
                                        Phone
                                        <span class="asterisk">*</span>
                                    </label>
                                    <div class="mc-error" id="phone-error">

                                    </div>
                                </div>
                                <div class="mc-form-group-JOB group">
                                    <input type="text" class="required" name="JOB" id="mce-JOB">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="label-form" for="mce-JOB">
                                        Specialization (QA;designer etc.)
                                        <span class="asterisk">*</span>
                                    </label>
                                    <div class="mc-error">

                                    </div>
                                </div>
                                <div class="mc-form-group-VDATE group">
                                    <label class="gray-text" for="mce-VDATE">
                                        Choose the date you want to book your visit
                                        <span class="asterisk">*</span>
                                    </label>

                                    {#<span><input name="VDATE" placeholder="MM"></span> /#}
                                    {#<span><input name="VDATE" placeholder="DD"></span> /#}
                                    {#<span><input name="VDATE" placeholder="YYYY"></span>#}

                                    <input type="text" name="VDATE" placeholder="MM/DD/YYYY" id="mce-VDATE">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div class="mc-error"></div>
                                </div>

                                <div class="mc-form-group-MMERGE3 group">
                                    <input type="text" name="MMERGE3" class="required" id="mce-MMERGE3">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="label-form" for="mce-MMERGE3">
                                        Message
                                        <span class="asterisk">*</span>
                                    </label>
                                    <div class="mc-error" ></div>
                                </div>
                                <div class="mc-form-group-LANG mc-field-group input-group" id="lang_ch">
                                    <label class="gray-text">Choose the language you would prefer to communicate in:</label>
                                    <span class="asterisk gray-text">*</span>
                                    <ul>
                                        <li><input type="radio" value="English" name="LANG" id="engBtn"><label>English</label></li>
                                        <li><input type="radio" value="Romanian" name="LANG" id="romBtn"><label>Română</label>
                                        </li>
                                        <li><input type="radio" value="Russian" name="LANG" id="ruBtn"><label>Русский</label></li>
                                    </ul>
                                    <div class="mc-error"></div>
                                </div>
                                <div id="mc-general-error"></div>
                            </form>

                            <input type="submit" value="Schedule your tour" name="schedule your tour" id="submit-form" class="button">
                            {#<button class="button" id="submit-form">Schedule your tour</button>#}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('@js/tour.min.js') }}"></script>
{% endblock %}
