{% extends '../layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('@css/thank-you.min.css') }}" />
{% endblock %}

{% block body %}
    <div class="wrapper booking" itemscope itemprop="mainContentOfPage">
        <section class="main-block">
            <div class="container">
                <div class="back-image">
                    <div class="message">
                        <h2 class="ty">Vă mulțumim!</h2>
                        <p class="center">Aproape am terminat... Avem nevoie să confirmăm e-mail-ul Dvs. Pentru a finisa procesul de abonare, vă rugăm să accesați link-ul care se află în scrisoarea electronică pe care tocmai v-am trimis-o.</p>
                        <div class="block-icon">
                            <img class="check" src="{{ asset('@img/check_mark.svg') }}" alt="Check">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('@js/thank-you.min.js') }}"></script>
{% endblock %}
