{% extends '../layout.twig' %}

{% block css %}
    <link rel="stylesheet" href="{{ asset('@css/tour.min.css') }}"/>
{% endblock %}

{% block body %}
    <div class=" container new-page">
        <div class="pages">
            <div class="line"></div>
            <span class="text-page">
                404Moldova este o comunitate de firme IT și specialiști IT din Moldova. Avem ca scop să
                susținem comunitatea locală IT a companiilor mici și a specialiștilor calificați să fie competitivi la
                nivel global.
            </span>
        </div>
    </div>
    <div class="wrapper booking" itemscope itemprop="mainContentOfPage">
        <section class="main-block">
            <div class="container">
                <div class="back-image">
                    <div class="booking-form">
                        <div id="mc_embed_signup">
                            <h2 class="heading-contact">Rezervați o vizită</h2>
                            <div class="indicates-required">
                                <span class="asterisk">*</span>câmpuri necesare
                            </div>
                            <form id="subscribe-tour-form">
                                <div class="mc-form-group-EMAIL group">
                                    <input type="text" class="required" name="EMAIL" id="mce-EMAIL">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="label-form" for="mce-EMAIL">
                                        E-mail
                                        <span class="asterisk">*</span>
                                    </label>
                                    <div class="mc-error">

                                    </div>
                                </div>
                                <div class="mc-form-group-FNAME group">
                                    <input type="text" class="required" name="FNAME" id="mce-FNAME">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="label-form" for="mce-FNAME">
                                        Prenume
                                        <span class="asterisk">*</span>
                                    </label>
                                    <div for="mce-FNAME" class="mc-error mce_inline_error">

                                    </div>
                                </div>
                                <div class="mc-form-group-LNAME group">
                                    <input type="text" class="required" name="LNAME" id="mce-LNAME">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="label-form" for="mce-LNAME">
                                        Nume
                                        <span class="asterisk">*</span>
                                    </label>
                                    <div class="mc-error">

                                    </div>
                                </div>
                                <div class="mc-form-group-PHONE group">
                                    <input type="text" class="required" name="PHONE" id="mce-PHONE">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="label-form" for="mce-PHONE">
                                        Telefon
                                        <span class="asterisk">*</span>
                                    </label>
                                    <div class="mc-error" id="phone-error">

                                    </div>
                                </div>
                                <div class="mc-form-group-JOB group">
                                    <input type="text" class="required" name="JOB" id="mce-JOB">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="label-form" for="mce-JOB">
                                        Specializare(QA; designer etc.)
                                        <span class="asterisk">*</span>
                                    </label>
                                    <div class="mc-error">

                                    </div>
                                </div>
                                <div class="mc-form-group-VDATE group">
                                    <label class="gray-text" for="mce-VDATE">
                                        Data când doriți să programați vizita
                                        <span class="asterisk">*</span>
                                    </label>

                                    <input type="text" name="VDATE" placeholder="LL/ZZ/AAAA" class="gray-text" id="mce-VDATE">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <div class="mc-error"></div>
                                </div>

                                <div class="mc-form-group-MMERGE3 group">
                                    <input type="text" name="MMERGE3" class="required" id="mce-MMERGE3">
                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="label-form" for="mce-MMERGE3">
                                        Mesaj
                                        <span class="asterisk">*</span>
                                    </label>
                                    <div class="mc-error" ></div>
                                </div>
                                <div class="mc-form-group-LANG mc-field-group input-group" id="lang_ch">
                                    <label class="gray-text">Alegeți limba în care ați prefera să comunicăm:</label>
                                    <span class="asterisk gray-text">*</span>
                                    <ul>
                                        <li><input type="radio" value="English" name="LANG" id="engBtn"><label>English</label></li>
                                        <li><input type="radio" value="Romanian" name="LANG" id="romBtn"><label>Română</label>
                                        </li>
                                        <li><input type="radio" value="Russian" name="LANG" id="ruBtn"><label>Русский</label></li>
                                    </ul>
                                    <div class="mc-error"></div>
                                </div>
                                <div id="mc-general-error"></div>
                            </form>
                            <input type="submit" value="Rezervați o vizită" name="schedule your tour" id="submit-form" class="button">
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}

{% block js %}
    <script src="{{ asset('@js/tour.min.js') }}"></script>
{% endblock %}
