@import './styles/variables';

.gallery-block {
  align-items: baseline;
}

.fb-album {
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 15px;
  //margin-bottom: 10px;
  margin: 10px;
  justify-content: space-around;
}

.card-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.header-content {
  display: flex;
}

.album-text {
  padding-left: 10px;
}

.album-date {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #90949c;
}

.fb-icon {
  float: right;
  height: 20px;
}

.icon-404 {
  height: 40px;
  width: 40px;
}

//.container .first-photo {
//  width: 25%;
//  height: auto;
//}

.description p {
  font-size: 14px;
  line-height: 1.38;
  margin-bottom: 10px;
}

.page-title {
  letter-spacing: .15px;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
}

.cover-photos img { width: 100%}

.block-style {
  padding-left: 10px;
  padding-right: 10px;
}

.photos {
  position: relative;
  .name-stripe {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  justify-content: center;
  .album-appendix {
    display: flex;
    img {
      width: 100%;
      height: 120px;
      object-fit: cover;
      margin: 1px;
      border-right: 1px solid rgba(0, 0, 0, .1);
    }
  }
}

.gradient {
  height: 43px;
  background: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.6));
}

.album-name {
  color: #fff;
  font-size: 24px;
  font-weight: normal;
  background-color: rgba(0,0,0,.6);
  text-align: center;
  margin-top: 0px;
  a {
    color: #fff;
  }
  p {
    color: #ccc;
    font-size: 16px;
    font-weight: normal;
    padding-top: 2px;
    padding-bottom: 10px;
  }
}

//.gallery-block {
//  justify-content: space-between;
//}



//.button-contact {
//  &.disabled {
//    cursor: not-allowed;
//    pointer-events: none;
//    opacity: 0.4;
//  }
//}
