@import './styles/variables';

* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

img {
  vertical-align: middle;
  border: 0;
}

a {
  text-decoration: none;
  color: $main-color;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  &:hover {
    color: $color;
  }
}

hr {
  margin-top: 10px;
  width: 100%;
  border: 0;
  height: 0;
  border-top: 1px solid #E3E3E4;;
}

.hidden {
  display: none;
}

.text-up {
  text-transform: uppercase;
}

.btn-center {
  text-align: center;
}

.btn-right {
  text-align: right;
}

p {
  font-size: 17px;
}

.odd {
  background: #FCFCFB;
}

.text-page {
  font-size: 15px;
}

.text-color {
  color: $main-color;
}

.display-flex {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.flex-row {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.flex-item-1 {
  flex: 0 0 8.33333333%;
  max-width: 8.33333333%;
}

.flex-item-2 {
  flex: 0 0 16.33333333%;
  max-width: 8.66666667%;
}

.flex-item-3 {
  flex: 0 0 25%;
  max-width: 25%;
}

.flex-item-4 {
  flex: 0 0 33.33333333%;
  max-width: 33.33333333%;
}

.flex-item-5 {
  flex: 0 0 41.66666667%;
  max-width: 41.66666667%;
}

.flex-item-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.flex-item-7 {
  flex: 0 0 58.33333333%;
  max-width: 58.33333333%;
}

.flex-item-8 {
  flex: 0 0 66.66666667%;
  max-width: 66.66666667%;
}

.flex-item-9 {
  flex: 0 0 75%;
  max-width: 75%;
}

.flex-item-10 {
  flex: 0 0 83.33333333%;
  max-width: 83.33333333%;
}

.flex-item-11 {
  flex: 0 0 91.66666667%;
  max-width: 91.66666667%;
}

.flex-item-12 {
  flex: 0 0 100%;
  max-width: 100%;
}

.language {
  display: inline-block;
  img {
    height: 12px;
  }
}

.text-upercase {
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 40px;
}

.fb-container-responsive {
  display: none;
}

body {
  font-family: 'Lato-Regular', sans-serif;
  line-height: 1.42857143;
  background-color: #fff;
  -webkit-text-size-adjust: none;
}

#reCaptcha {
  position: absolute;
  z-index: 1;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.heading-contact {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 20px;
}

.input-style {
  height: 40px;
  width: 100%;
  font-size: 20px;
  padding: 0 10px;
  border: 1px solid $color;
  margin-bottom: 20px;
  ::-webkit-input-placeholder {
    color: #aaaaaa;
  }
  ::-moz-placeholder {
    color: #aaaaaa;
  }
  :-ms-input-placeholder {
    color: #aaaaaa;
  }
  :-moz-placeholder {
    color: #aaaaaa;
  }
}

.text-style {
  font-size: 20px;
  padding: 10px;
  border: 1px solid $color;
  margin-bottom: 20px;
  width: 100%;
  resize: none;
}

.connect-us {
  color: $color;
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
}

.button-contact {
  width: 100%;
}

.clear {
  clear: both;
}

.pull-center {
  position: relative;
  left: 50%;
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.button {
  display: inline-block;
  background: $main-color;
  font-size: 17px;
  padding: 10px 50px;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid transparent;
  cursor: pointer;
  text-decoration: none;
  transition: 0.4s ease-in-out;
  -webkit-transition: 0.4s ease-in-out;
  -moz-transition: 0.4s ease-in-out;
  -o-transition: 0.4s ease-in-out;
  &:hover {
    border-color: $color;
    color: $color;
    background: transparent;
  }
}

.image {
  height: 360px;
  .image-media {
    background-image: url(../img/media.jpg);
    background-position: 45% 48%;
    background-size: cover;
    height: 360px;
  }
}

.parallax-window {
  min-height: 360px;
  background: transparent;
  .image {
    .page {
      .text-page-name {
        .icons {
          text-align: center;
          color: #ffffff;
          font-size: 30px;
        }
      }
    }
  }
}

.text-anvio {
  font-family: 'Lato-Regular', sans-serif;
  font-weight: 700;
  margin-top: 40px;
  font-size: 25px;
  margin-bottom: 15px;
}

.wrapper {
  &.photos-gallery {
    .main-block {
      .gallery-block {
        display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        justify-content: center;
        -webkit-justify-content: center;
        .left-fb-block {
          margin: 0 20px 40px;
        }
      }
    }
  }
  &.notfound-page {
    min-height: 100vh;
    .main-block {
      &.notfound {
        min-height: 100vh;
        background-image: url(../img/404.png);
        background-position: 100% 50%;
        background-size: cover;
        position: relative;
        background-color: #f5f5f4;
        .container {
          height: 100vh;
          .text-notfound {
            position: relative;
            top: 50%;
            left: 50%;
            -ms-transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            text-align: center;
            .links {
              font-size: 25px;
            }
            .link-notfound {
              color: $color;
              font-size: 70px;
              font-weight: bold;
              &:hover {
                color: $main-color;
              }
            }
            .location {
              display: inline-block;
              vertical-align: sub;
              height: 48px;
              width: 100%;
              #location {
                display: inline;
                width: 48px;
                height: 48px;
                text-align: center;
              }
            }
            .title-notfound {
              .name-page {
                font-size: 150px;
                line-height: 135px;
                font-weight: bold;
              }
              .text-page {
                font-size: 50px;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }

  &.members {
    .new-heading {
      padding: 40px 10px;
    }
  }
  &.terms {
    .main-block {
      .container {
        h2 {
          font-size: 40px;
        }
        .text-title {
          font-size: 30px;
          font-weight: 700;
          margin-bottom: 10px;
          display: inline-block;
        }
        p {
          font-size: 17px;
          margin-bottom: 20px;
          &:last-child {
            margin-bottom: 0;
          }
        }
        ul li {
          font-size: 17px;
          margin-bottom: 20px;
          list-style: inside;
        }
      }
    }
  }
  &.main {
    .main-block {
      background-image: url(../img/bg.jpg);
      background-position: center;
      background-size: cover;
      position: relative;
      height: 100vh;
      .main-info {
        height: 100%;
        &.ru-vertion {
          h1, h2 {
            font-size: 74px;
            line-height: 65px;
          }
        }
      }
    }
    .main-block {
      .main-nav {
        transition: .4s;
        .container {
          .nav-top {
            .blog {
              background: $main-color;
              color: #ffffff;
              transition: 0.4s ease-in-out;
              -webkit-transition: 0.4s ease-in-out;
              -moz-transition: 0.4s ease-in-out;
              -o-transition: 0.4s ease-in-out;
              &:hover {
                border-color: #ffffff;
                color: $color;
                background: #ffffff;
              }
            }
            .icon {
              a {
                color: white;
              }
            }
            #menu-toggle {
              &.open {
                #cross {
                  span {
                    background: white;
                  }
                }
              }
              #hamburger {
                span {
                  background: white;
                }
              }
            }
          }
        }
      }
    }
  }
  .main-block {
    .main-nav {
      background: transparent;
      position: fixed;
      width: 100%;
      &.fixed-top {
        background: $color;
        z-index: 4;
        transition: .5s;
      }
      .container {
        .nav-top {
          ul {
            li {
              .link {
                color: white;
                position: relative;
                &:hover {
                  &:before {
                    content: '';
                    background: white;
                  }
                }
              }
            }
          }
          .blog {
            &:hover {
              background: white;
              color: $color;
            }
          }
        }
      }
    }
    .main-info {
      .local-com {
        padding-top: 80px;
        color: white;
        width: 80%;
        margin: 0 auto;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        h1, h2 {
          font-family: 'Lato-Regular', sans-serif;
          font-size: 90px;
          letter-spacing: 1px;
          line-height: 75px;
          margin-bottom: 30px;
        }
        .text-center {
          font-size: 19px;
          width: 95%;
        }
        .more {
          margin-top: 40px;
          display: block;
          .more-about {
            display: inline-block;
            font-size: 18px;
            color: white;
            text-transform: uppercase;
            padding: 10px 50px;
            border: 3px solid $main-color;
            text-decoration: none;
            background: $main-color;
            transition: 0.4s ease-in-out;
            -webkit-transition: 0.4s ease-in-out;
            -moz-transition: 0.4s ease-in-out;
            -o-transition: 0.4s ease-in-out;
            &:hover {
              border-color: #ffffff;
              background: transparent;
            }
          }
        }
      }
    }
  }
    .partners {
      line-height: 150px;
      display: flex;
      display: -webkit-flex;
      justify-content: space-between;
      -webkit-justify-content: space-between;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      .usaid {
        img {
          height: 48px;
        }
      }
      .sweden {
        img {
          height: 100px;
        }
      }
      .pycoding {
        img {
          height: 24px;
        }
      }
      .mitoc {
        img {
          height: 40px;
        }
      }
    }
  &.thankyou {
    min-height: 0;
    margin-top: 100px;
    .main-block {
      min-height: 0;
      background: #f5f5f4;
      .container {
        &.new-page {
          width: 50%;
          text-align: center;
          padding: 40px 0;
          .pages {
            .page-name {
              text-align: center;
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}

/* Navigation */

.main-nav {
  height: 100px;
  background: #ffffff;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
  &.fixed-top {
    -webkit-box-shadow: 0 4px 9px -7px $color;
    -moz-box-shadow: 0 4px 9px -7px $color;
    box-shadow: 0 4px 9px -7px $color;
  }
  .container {
    .logo {
      line-height: 100px;
      float: left;
      a {
        display: block;
      }
      .img-logo {
        height: 60px;
        a {
          display: inline-block;
        }
      }
    }
    .nav-top {
      float: right;
      position: relative;
      .icon {
        display: none;
        a {
          color: $color;
          font-size: 25px;
          text-decoration: none;
        }
      }
      .active {
        .link {
          border: 2px solid $color;
        }
      }
      ul {
        line-height: 100px;
        margin-bottom: 0;
        li {
          display: inline-block;
          text-decoration: none;
          .link {
            position: relative;
            color: $color;
            text-transform: uppercase;
            font-size: 16px;
            text-decoration: none;
            padding: 2px 4px;
            border: 2px solid transparent;
          }
          a {
            text-decoration: none;
          }
          &:last-child {
            .link {
              &:hover {
                &:before {
                  display: none;
                }
              }
            }
          }
        }
      }
      .blog {
        background: $main-color;
        font-size: 16px;
        padding: 2px 6px;
        line-height: normal;
        color: white;
        text-transform: uppercase;
        border: 2px solid transparent;
        transition: 0.4s ease-in-out;
        -webkit-transition: 0.4s ease-in-out;
        -moz-transition: 0.4s ease-in-out;
        -o-transition: 0.4s ease-in-out;
        &:hover {
          border-color: $color;
          color: $color;
          background: #ffffff;
        }
      }
    }
  }
}

/* Main Footer*/

.contacts {
  background: $color;
  .footer-up {
    padding: 20px 0;
    .flex-item-4:not(:last-child) {
      position: relative;
      &:after {
        content: '';
        width: 1px;
        height: 100%;
        background: #3E4144;
        position: absolute;
        right: 0;
      }
    }
  }
  .mdi, .logo-footer {
    color: #A9AAAB;
    font-size: 52px;
    margin-right: 20px;
    vertical-align: middle;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    -moz-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    &.text-color {
      color: $main-color;
      transition: 0.4s ease-in-out;
      -webkit-transition: 0.4s ease-in-out;
      -moz-transition: 0.4s ease-in-out;
      -o-transition: 0.4s ease-in-out;
    }
    &.mdi-phone {
      display: inline-block;
    }
  }
  a {
    color: #A9AAAB;
    font-size: 19px;
  }
  .phones, .mail, .map-location, .flag {
    display: inline-block;
    vertical-align: middle;
    .language {
      display: inline-block;
      &:first-child {
        margin-right: 10px;
      }
    }
    a, span {
      display: block;
    }
    .icons {
      &.text-color {
        color: $main-color;

      }
    }
  }

  .footer-down {
    padding: 40px 0;
    position: relative;
    &:after {
      content: '';
      position: absolute;
      height: 1px;
      width: 100%;
      background: #3E4144;
      top: 0;
      left: 0;
    }
    .logo-footer {
      height: 48px;
    }
    .media-icons {
      display: flex;
      display: -webkit-flex;
      -webkit-justify-content: space-around;
      justify-content: space-around;
      a {
        font-size: 32px;
        &:hover {
          color: $main-color;
        }
      }
    }
    .last-block {
      color: #A9AAAB;
      font-size: 16px;
      line-height: 48px;
      a {
        font-size: 16px;
        margin-left: 5px;
        &:hover {
          color: $main-color;
        }
      }
    }
  }
}

/* Title */

.image {
  margin-top: 100px;
  .page {
    position: relative;
    height: 100%;
    .text-page-name {
      display: inline;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      text-align: center;
      .page-name {
        font-family: 'Lato-Regular', sans-serif;
        font-size: 45px;
        position: relative;
        text-transform: uppercase;
        color: #ffffff;
        text-align: center;
        &:before {
          content: '';
          position: absolute;
          width: 95px;
          height: 6px;
          background: $main-color;
          bottom: 0;
          left: 50%;
          -ms-transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
        }
      }
    }
  }
}

.new-page {
  &.members-page {
    .pages {
      margin-bottom: 40px;
      .page-name {
        text-align: center;
        &:before {
          left: 50%;
          -ms-transform: translateX(-50%);
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
        }
      }
    }
  }
  .pages {
    margin: 40px 0;
    .text-page {
      font-size: 17px;
    }
    .page-name {
      font-family: 'Lato-Regular', sans-serif;
      font-size: 45px;
      position: relative;
      text-transform: uppercase;
      padding-bottom: 5px;
      margin-bottom: 20px;
      &:before {
        content: '';
        position: absolute;
        width: 80px;
        height: 6px;
        background: $main-color;
        bottom: 0;
      }
    }
  }
}

.new-heading {
  padding-top: 40px;
  padding-bottom: 10px;
  .pages {
    .heading {
      font-family: 'Lato-Regular', sans-serif;
      font-size: 50px;
      color: #ccc;
    }
  }
}

/* Footer Gallery*/

.footer-carousel {
  .pic {
    position: relative;
    .image-members {
      img {
        width: 100%;
      }
    }
    &.slick-center {
      .hidden-avatar {
        opacity: 1;
        transition: all .2s ease-in-out;
      }
    }
    .we-love {
      display: flex;
      display: -webkit-flex;
      position: absolute;
      z-index: 1;
      margin: auto;
      font-size: 25px;
      color: white;
      width: 90%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      flex-wrap: wrap;
      -webkit-flex-wrap: wrap;
      flex-direction: column;
      -webkit-flex-direction: column;
      text-align: center;
      justify-content: center;
      -webkit-justify-content: center;
      .avatar {
        width: 100px;
        height: 100px;
        overflow: hidden;
        border-radius: 50%;
        position: relative;
        background: #95989A;
        margin: 0 auto;
        border: 4px solid $main-color;
        img {
          height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          -ms-transform: translate(-50%, -50%);
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
        }
      }
      .avatar-comment {
        text-transform: uppercase;
        display: block;
        font-size: 16px;
      }
      .comment {
        line-height: 25px;
        padding-bottom: 20px;
        width: 100%;
        .quote {
          padding-bottom: 15px;
          text-align: left;
          font-size: 35px;
          color: $main-color;
        }
        span {
          font-size: 15px;
        }
      }
    }
    .hidden-avatar {
      opacity: 0;
      transition: all .3s ease-in-out;
    }
  }
}

.pic {
  width: 25%;
  float: left;
}

.we-love {
  display: none;
}

.img-value {
  background-position: center;
  background-size: cover;
  position: relative;
  height: 300px;
  width: 100%;
  display: flex;
  display: -webkit-flex;
}

.img-hover {
  &:hover {
    &:before {
      content: '';
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      position: absolute;
      transition: 0.5s;
      background-color: rgba(221, 89, 49, 0.8);
    }
  }
}

#menu-toggle {
  display: none;
  float: right;
  width: 30px;
  height: 30px;
  position: relative;
  top: 35px;
  cursor: pointer;

  #hamburger {
    position: absolute;
    height: 100%;
    width: 100%;
    span {
      width: 30px;
      height: 4px;
      position: relative;
      top: 0;
      left: -5px;
      margin: 5px;
      display: block;
      background: $color;
      border-radius: 2px;
      &:nth-child(1) {
        transition-delay: .5s;
      }
      &:nth-child(2) {
        transition-delay: .625s;
      }
      &:nth-child(3) {
        transition-delay: .75s;
      }
    }
  }
  #cross {
    position: absolute;
    height: 100%;
    width: 100%;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    span {
      &:nth-child(1) {
        height: 0%;
        width: 4px;
        position: absolute;
        top: 10%;
        left: 13px;
        transition-delay: 0s;
      }
      &:nth-child(2) {
        width: 0%;
        height: 4px;
        position: absolute;
        left: 10%;
        top: 13px;
        transition-delay: .25s;
      }
    }
  }
}

#menu-toggle.open {
  #hamburger {
    span {
      width: 0%;
      &:nth-child(1) {
        transition-delay: 0s;
      }
      &:nth-child(2) {
        transition-delay: .125s;
      }
      &:nth-child(3) {
        transition-delay: .25s;
      }
    }
  }
  #cross {
    span {
      display: block;
      background: $color;
      border-radius: 2px;
    }
    span {
      &:nth-child(1) {
        height: 80%;
        transition-delay: .625s;
      }
    }
    span {
      &:nth-child(2) {
        width: 80%;
        transition-delay: .375s;
      }
    }
  }
}

@font-face {
  font-family: 'Lato-Regular';
  src: url('../fonts/Lato-Regular.eot');
  src: local('☺'), url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Gallery for terms*/

.gallery {
  &.terms {
    .gallery-line {
      margin-top: 60px;
    }
  }
}

/* Gallery for photo-gallery*/

.gallery {
  &.photos-gallery {
    .gallery-line {
      margin-top: 0;
    }
  }
}

/* Gallery for media*/

.gallery {
  &.media-gallery {
    .gallery-line {
      margin-top: 0;
    }
  }
}

/* Startup-Evening*/

.apply-button {
  background: #fdb91a;
  color: #ffffff;
  padding: 10px 60px;
  display: inline-block;
  font-size: 40px;
  border-radius: 4px;
  &:hover {
    background: #f03957;
    color: #ffffff;
  }
}

.startup {
  font-family: 'Roboto Mono', monospace;
  .first-block {
    background: #373268;
    .left-image {
      img {
        position: absolute;
        max-height: 880px;
      }
      .image-block {
        position: relative;
        width: 90%;
        height: 100%;
        margin: 0 auto;
        padding-top: 60px;
      }
    }
    .right-image {
      padding: 60px;
      text-align: center;
      .image-block {
        width: 90%;
        margin: 0 auto;
        img {
          max-height: 450px;
        }
      }
      .text-event {
        padding: 30px 0;

      }
    }
  }
  .text-yellow {
    color: #fdb91a;
    font-size: 40px;
    display: inline;
  }
  .second-block {
    .block-about {
      margin-top: 30px;
      margin-bottom: 30px;
    }
    background: #e8e6e7;
    .logos {
      padding: 30px 0;
      text-align: center;
      p {
        text-align: center;
        padding-bottom: 20px;
        font-size: 20px;
        color: #373268;
      }
      img {
        max-height: 113px;
      }
      .logos_2 {
        width: 35%;
      }
    }
    .text-event {
      p {
        font-size: 20px;
        color: #373268;
        &.class-p {
          padding-bottom: 30px;
        }
      }
      h1, h2, h4 {
        font-size: 30px;
        text-align: center;
        color: #f03957;
        padding-bottom: 30px;
      }
    }
    .yellow-block {
      background: #fdb91a;
      .text-event {
        padding-top: 40px;
        padding-bottom: 40px;
        h4 {
          color: #373268;
          font-size: 30px;
          text-align: left;
        }
        ul {
          padding-left: 20px;
          li {
            font-size: 20px;
            color: #373268;
          }
        }
      }
    }
    .agenda {
      color: #373268;
      padding-top: 40px;
      padding-bottom: 40px;
      &.find-us {
        background: #ffffff;
        text-align: center;
        line-height: 20px;
        p {
          padding: 5px;
        }
        h3 {
          color: #f03957;
        }
        .mdi-facebook-box {
          font-size: 40px;
          color: #373268;
          padding: 40px 0 0;
        }
      }
      .text-event {
        margin-bottom: 0;
      }
      h3 {
        font-size: 30px;
        text-align: center;
        padding-bottom: 40px;

      }
      p, ul {
        font-size: 25px;
        padding: 15px;
      }
      .line-block {
        position: relative;
        &:before {
          content: '';
          position: absolute;
          height: 100%;
          width: 2px;
          background: #373268;
          right: 0;
        }
      }
      .left-agenda {
        p, ul {
          margin-left: 40px;
          li {
            list-style-position: inside;
          }
        }
      }
      .button-block {
        padding: 80px 0 0;
        p {
          font-size: 20px;
        }
        .btn-block {
          text-align: center;
          margin: auto;
        }
      }
    }
    .line-red {
      background: #f03957;
      height: 130px;
      &.line-gray {
        background: #E8E6E7;
        h3 {
          color: #373268;
        }
      }
      h3 {
        font-size: 30px;
        color: #ffffff;
        text-align: center;
        line-height: 130px;
      }
    }
    .map-event {
      height: 490px;
      .map-style-event {
        height: 490px;
      }
    }
  }
  a {
    color: #f03957;
    text-decoration: underline;
    &:hover {
      color: #373268;
    }
  }
}

.third-block {
  .image-cover {
    background-image: url(../img/cover-photo.jpg);
    background-position: 50% 50%;
    height: 300px;
    background-size: cover;
  }
  .image-photo1 {
    background-image: url(../img/eistrati.jpg);
    background-position: 70% 50%;
    height: 300px;
    background-size: cover;
  }
  .image-photo2 {
    background-image: url(../img/aburciu.jpg);
    background-position: 0% 50%;
    height: 300px;
    background-size: cover;
  }
  .image-photo3 {
    background-image: url(../img/dsturza.jpg);
    background-position: 70% 50%;
    height: 300px;
    background-size: cover;
  }
  .program {
    color: #373268;
    background: #f03957;
    height: 300px;
    &.yellow-program {
      background: #fdb91a;
      .text-up {
        text-align: right;
      }
      p {
        text-align: right;
      }
    }
    .collaboration {
      position: relative;
      top: 50%;
      -ms-transform: translateY(-50%);
      -webkit-transform: -webkit-translateY (-50%);
      transform: translateY(-50%);
      padding: 0 40px;
      .text-up {
        padding-bottom: 20px;

        h3 {
          font-size: 30px;
          text-transform: uppercase;
          color: #373268;
        }
      }

      .text-collaboration {
        font-size: 25px;
      }
    }
  }
}

/* Mail-Chimp inputs*/

/* form starting stylings ------------------------------- */
.group {
  position: relative;
  margin-bottom: 10px;
  padding-bottom: 25px;
  display: inline-block;
  width: 100%;
}

input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
  border-right: 0;
  border-left: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

input:focus {
  outline: none;
}

.label-form {
  color: #95989A;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: auto;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ .label-form {
  top: -20px;
  font-size: 14px;
  color: $main-color;
}

.touched ~ .label-form {
  top: -20px;
  color: $main-color;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content: '';
  height: 2px;
  width: 0;
  position: absolute;
  background: $main-color;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  bottom: 0;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%;
}

/* active state */
input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: auto;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

.container {
  &.container-calendar {
    .calendar {
      top: 50%;
      margin: 50px 0;
      text-align: center;
      .logo {
        a {
          display: inline-block;
          img {
            height: 69px;
          }
        }
      }
    }
  }
}

/* Blog.404.md*/

.blog {
  .section-heading {
    margin: 20px 0;
    h2 {
      display: inline-block;
    }
    .button {
      padding: 1px 20px;
      float:right;
      font-size: 16px;
    }
  }
  .flex-row {
    margin-right: -15px;
    .flex-item-4 {
      .blog-post {
        margin-right: 15px;
        cursor: pointer;
        &:hover {
          .blog-content {
            h4 {
              a {
                color: $main-color;
              }
            }
          }
        }
        .blog-element {
          img {
            width: 100%;
            object-fit: cover;
            object-position: 50% 50%;
          }
        }
        .blog-content {
          margin: 20px 0 40px 0;
          h4 {
            a {
              font-size: 17px;
              color: $color;
              &:hover {
                color: $main-color;
              }
            }
          }
        }
      }
    }
  }
}

.nav-top {
  .mdi-menu, .mdi-close {
    float: right;
    line-height: 100px;
    color: $color;
  }
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav {
  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: $color;
    display: block;
    transition: 0.3s;
    &:last-child {
      background: $main-color;
      color: #ffffff;
    }
    &.active {
      color: $main-color;
    }
  }
}

.sidenav {
  .closebtn {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 36px;
    margin-left: 50px;
    color: $color;
  }
}

/* Events Page*/
.new-page {
  &.events {
    margin-bottom: 60px;
    .amenities-block {
      .bloks-icons {
        width: 200px;
        text-align: center;
      }
    }
    .pages {
      &.coworking {
        text-align: center;
        margin: 24px 0;
        .page-name {
          display: inherit;
          position: relative;
            &:before {
            position: absolute;
            width: 106px;
            left: 50%;
            transform: translateX(-50%);
          }
        }
      }
      margin-right: -7px;
      margin-left: -7px;
      &.flex-row {
        .flex-item-4 {
          &.space {
            a {
              color: $color;
            }
            padding-right: 7px;
            padding-left: 7px;
            margin-bottom: 15px;
            .block-style {
              transition: 0.4s ease-in-out;
              -webkit-transition: 0.4s ease-in-out;
              -moz-transition: 0.4s ease-in-out;
              -o-transition: 0.4s ease-in-out;
              border: 2px solid transparent;
              cursor: pointer;
              height: 100%;
              display: flex;
              flex-direction: column;
              &:hover {
                border: 2px solid $color;
              }
              .content-block {
                height: 80px;
                box-sizing: content-box;
                padding: 15px 0;
                margin-top: auto;
                .date {
                  width: 30%;
                  float: left;
                  line-height: 40px;
                  .day, .month {
                    display: block;
                    text-align: center;
                  }
                  .day {
                    color: $main-color;
                    font-size: 30px;
                    text-transform: uppercase;
                  }
                  .month {
                    color: $color;
                    font-size: 40px;
                    font-weight: bold;
                  }
                }
                .context {
                  width: 70%;
                  float: right;
                  font-size: 16px;
                  display: flex;
                  flex-direction: column;
                  height: 100%;
                  .title {
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: -webkit-box;
                    line-height: 20px;
                    max-height: 60px;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                  }
                  .interval {
                    margin-top: auto;
                  }
                }
              }
            }
          }
        }
      }
    }
    .display-flex {
      .meeting-room {
        &.slick-slider {
          .slick-prev {
            left: 7px;
            z-index: 1;
            &:before {
              content: "\F141";
              color: #ffffff;
              font-family: Material Design Icons;
              border: 2px solid #ffffff;
              text-shadow: 2px 2px 4px #000000;
              box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            }
          }
          .slick-next {
            right: 10px;
            z-index: 1;
            &:before {
              content: "\F142";
              color: #ffffff;
              font-family: Material Design Icons;
              border: 2px solid #ffffff;
              text-shadow: 2px 2px 4px #000000;
              box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
            }
          }
          .slick-next:hover:before, .slick-prev:hover:before {
            border-color: $main-color;
            background-color: $main-color;
            color:#ffffff;
            text-shadow: none;
          }
        }
        .slick-slide {
          img {
            width: 100%;
          }
        }
      }
      .price {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .price-block {
          span {
            display: block;
            text-align: center;
            &:first-child {
              color: $main-color;
              font-size: 20px;
              font-weight: bold;
            }
            &:nth-child(2) {
              font-weight: bold;
              font-size: 35px;
            }
            &:last-child {
              font-size: 15px;
            }
          }
        }
      }
    }
    .amenities-block {
      .bloks-icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        img {
          height: 130px;
        }
        .icons-text {
          margin-top: auto;
          padding: 0 0 10px;
        }
      }
    }
  }
}

// Main Navigation Area

#navigation {
  &.nav-top {
    #slide-line {
      &.hidden-line {
        opacity: 0;
      }
    }
  }
  &.main-page-nav {
    &.nav-top {
      #slide-line {
        background: #ffffff;
        &.hidden-line {
          opacity: 0;
        }
      }
    }
  }
  &.nav-top {
    #slide-line {
      position: absolute;
      bottom: 38px;
      height: 2px;
      background-color: $color;
      -webkit-transition: all .3s ease;
      transition: all .3s ease;
      z-index: -1;
    }
  }
}

.partners {
  line-height: 150px;
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  .usaid {
    img {
      height: 48px;
    }
  }
  .sweden {
    img {
      height: 100px;
    }
  }
  .pycoding {
    img {
      height: 24px;
    }
  }
  .mitoc {
    img {
      height: 40px;
    }
  }
}
