@import './styles/variables';

.wrapper {
  &.booking {
    .main-block {
      min-height: 700px;
      margin-bottom: 60px;
      .container {
        .back-image {
          background-image: url(../img/1.jpg);
          background-repeat: no-repeat;
          background-position: 50% 50%;
          background-size: cover;
          position: relative;
          &:before {
            content: '';
            position: absolute;
            width: 100%;
            top: 0;
            right: 0;
            bottom: 0;
            background: rgba(0, 0, 0, 0.3);
          }
          .booking-form {
            position: relative;
            background: white;
            opacity: 0.95;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 40px 0;
            .input-style {
              margin-bottom: 0;
              border-color: $color;
            }
            .text-style {
              margin-bottom: 0;
              &:focus {
                border: 2px solid #333;
                padding: 9px;
              }
            }
          }
        }
      }
    }
  }
}

.gray-text {
  color: #95989A;
  font-size: 18px;
  padding-left: 5px;
}

ul {
  left: 100px;
}

/* Gallery */

.gallery {
  &.tour-gallery {
    .gallery-line {
      margin-top: 60px;
    }
  }
}

#mc_embed_signup {
  .indicates-required {
    text-align: right;
    font-size: 11px;
    padding-bottom: 20px;
  }
  .mc-field-group {
    margin-bottom: 30px;
  }
  #mc-embedded-subscribe-form {
    div {
      &.mce_inline_error {
        padding: 0;
        background-color: rgba(255,255,255,0.85);
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        font-size: 12px;
        font-weight: normal;
        position: absolute;
        color: #e85c41;
        display: block;
      }
    }
  }
  .mc-field-group {
    &.input-group {
      margin-bottom: 0;
    }
  }
  .mc-error {
    padding-left: 5px;
  }
}

/*MailChimp IN PROCESS*/

#mc_embed_signup {
  background:#fff; 
  clear:left;
  width: 600px;
  .button {
    &.disabled {
      cursor: not-allowed;
      pointer-events: none;
      opacity: 0.4;
    }
  }
  .mc-error {
    position: absolute;
    p {
      font-size: 17px;
      font-weight: 600;
      color: #fd3916;
    }
  }
  .mc-field-group {
    &.input-group {
      ul {
        margin-left: 5px;
        padding: 5px 0; 
        list-style: none;
        li {
          display: inline-block; 
          padding: 3px 0; 
          margin-right: 10px;
        }
      }
      label {
        display: inline;
        padding-left: 5px;
        font-size: 18px;
      }
      input {
        display: inline;
        width: auto;
        border: none;
      }
    }
    clear: left; 
    position: relative; 
    width: 100%;
    padding-bottom: 10px; 
    min-height: 50px;
    .message-text {
      padding-top: 5px;
    }
    label {
      display: block; 
      margin-bottom: 3px; 
      font-size: 20px;
    }
  }
  .datefield, .phonefield-us {
    padding: 5px 0;
    input {
      display: inline; 
      width: 60px; 
      margin: 0 2px; 
      letter-spacing: 1px; 
      text-align: center; 
      padding: 5px 0 2px 0;
    }
    label {
      width: 50px;
      font-size: 12px;
    }
    .monthfield, .dayfield {
      input {
        width: 50px;
        font-size: 12px;
      }
    }
  }
}

/* MailChimp Form Embed Code - Classic - 12/17/2015 v10.7 */
// @todo convert to scss
#mc_embed_signup div#mce-responses {float:left; top:-1.4em; padding:0 .5em 0 .5em; overflow:hidden; clear: both;}
#mc_embed_signup div.response {padding-bottom: 1em; font-weight:bold; float:left; top:-1.5em; z-index:1; }
#mc_embed_signup #mce-error-response {display:none;}
#mc_embed_signup #mce-success-response {color:#529214; display:none;}
#mc_embed_signup label.error {display:block; float:none; width:auto; margin-left:1.05em; text-align:left; padding:.5em 0;}
//
#mc-embedded-subscribe {clear:both; display:block; width: 100%; margin: 10px 0;}
#mc_embed_signup #num-subscribers {font-size:1.1em;}
#mc_embed_signup #num-subscribers span {padding:.5em; border:1px solid #ccc; margin-right:.5em; font-weight:bold;}

.small-meta, .datepart {
  font-size: 10px;
}
